<div class="k-edit-form-container col-lg-11 col-md-10 col-sm-11 col-xs-10" id="" style="margin-bottom:4%;margin-top:2%;">
    <div id="divBcashForm"></div>
    <div class="k-edit-buttons k-state-default" style="margin-left:30px;">
        <button type="button" class="k-button k-button-icontext k-primary k-grid-update" id="btnBcashPaid"><span class="k-icon k-update"></span>Paid</button>
        @*<button type="reset" class="k-button k-button-icontext k-grid-update" id="btnRefresh"><span class="k-icon k-i-refresh"></span>Refresh</button>*@
        <button type="button" class="k-button k-button-icontext k-grid-cancel" id="btnBcashCancel"><span class="k-icon k-cancel"></span>Cancel</button>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#divBcashForm").empty();
        $("#divBcashForm").load('@Url.Action("BcashPartial", "PointOfSale")?totalPrice=' + '@ViewBag.TotalPrice' + '&isRelease=' + '@ViewBag.IsRelease' + '&cashPayment=' + '@ViewBag.CashPayment' + '&isReturn=' + '@ViewBag.IsReturn' + '&methodId=' + '@ViewBag.MethodId' + '&defaultType=' + '@ViewBag.DefaultType' + '&isSupplierDebitPay=' + '@ViewBag.IsSupplierDebitPay');
    });
    $("#btnBcashCancel").click(function () {
        $(this).closest(".k-window-content").data("kendoWindow").close();
    });
    var bcashValidator = $("#divBcashForm").kendoValidator().data("kendoValidator");
</script>
