<div class="k-edit-form-container col-lg-11 col-md-10 col-sm-11 col-xs-10" id="" style="margin-bottom:4%;margin-top:2%;">
    <div id="divCreditFrom"></div>
    <div class="k-edit-buttons k-state-default" style="margin-left:30px;">
        <button type="button" class="k-button k-button-icontext k-primary k-grid-update" id="btnCreditConfirm"><span class="k-icon k-update"></span>Confirm</button>
        @*<button type="reset" class="k-button k-button-icontext k-grid-update" id="btnRefresh"><span class="k-icon k-i-refresh"></span>Refresh</button>*@
        <button type="button" class="k-button k-button-icontext k-grid-cancel" id="btnCreditCancel"><span class="k-icon k-cancel"></span>Cancel</button>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#divCreditFrom").empty();
        $("#divCreditFrom").load('@Url.Action("CreditPartial", "PointOfSale")?totalPrice=' + '@ViewBag.TotalPrice' + '&creditAmount=' + '@ViewBag.CreditAmount' + '&dueAmount=' + '@ViewBag.DueAmount' + '&availabelCredit=' + '@ViewBag.AvailabelCredit');
    });

    $("#btnCreditCancel").click(function () {
        $(this).closest(".k-window-content").data("kendoWindow").close();
    });
    var creditValidation = $("#divCreditFrom").kendoValidator().data("kendoValidator");

</script>
