<div class="k-edit-form-container col-lg-11 col-md-10 col-sm-11 col-xs-10" id="" style="margin-bottom:4%;margin-top:2%;">
    <div id="divEventCreateForm"></div>
    <div class="k-edit-buttons k-state-default" style="margin-left:30px;">
        @if (ViewBag.Id > 0)
         {
            <button type="button" class="k-button k-button-icontext k-primary k-grid-update" id="btnEventCreate"><span class="k-icon k-update"></span>Update</button>
         }
        else
        {
            <button type="button" class="k-button k-button-icontext k-primary k-grid-update" id="btnEventCreate"><span class="k-icon k-update"></span>Create</button>
        }
        <button type="reset" class="k-button k-button-icontext k-grid-update" id="btnEventRefresh"><span class="k-icon k-i-refresh"></span>Refresh</button>
        <button type="button" class="k-button k-button-icontext k-grid-cancel" id="btnEventCancel"><span class="k-icon k-cancel"></span>Cancel</button>
    </div>
</div>
<div id="divScheduleCreateWin"></div>
<script>
    $(document).ready(function () {
        $("#divEventCreateForm").append('<div class="tiny_loading"></div>');
        $("#divEventCreateForm").load('@Url.Action("EventCreatePartial", "PointOfSale")?subId=' + '@ViewBag.SubId' + "&id=" + '@ViewBag.Id');
    });
    $("#btnEventRefresh").click(function () {
        $("#divEventCreateForm").empty();
        $("#divEventCreateForm").append('<div class="tiny_loading"></div>');
        $("#divEventCreateForm").load('@Url.Action("EventCreatePartial", "PointOfSale")?subId=' + '@ViewBag.SubId'+ "&id=" + '@ViewBag.Id');
    });

    $("#btnEventCancel").click(function () {
        $(this).closest(".k-window-content").data("kendoWindow").close();
    });

    var validation = $("#divEventCreateForm").kendoValidator({
    }).data("kendoValidator");

    $("#btnEventCreate").click(function () {

        if (validation.validate())
        {
            $(this).prop('disabled', true);

            var sendData = {
                Id: $("#Id").val(),
                SubOfferId: '@ViewBag.SubId',
                ScheduleId: $("#ScheduleId").val(),
                EventName: $.trim($("#EventName").val()),
                ValidityDate: $("#ValidityDate").val(),
                ValidityDays: $("#ValidityDays").val(),
                ValidityTime: $("#ValidityTime").val(),
                IsDateValidity: $("#IsDateValidity").val(),
                CreatedBy : userId
            }
            $.ajax({
                url: '@Url.Action("EventSave", "PointOfSale")',
                type: "POST",
                data: sendData,
                success: function (result) {
                    $("#divEventCreateWin").data("kendoWindow").close();
                    if (result == "success") {
                        if ('@ViewBag.IsEventPage' == 'True')
                        {
                            if (tab == 1)
                            {
                                passdata = { subId: subId };
                                $("#div_All").empty();
                                $("#div_All").append('<div class="loading_partial"></div>');
                                $("#div_All").load('@Url.Action("EventList", "PointOfSale")', passdata);
                            }
                            else if (tab == 2)
                            {
                                status = 1;
                                passdata = { status: status, subId: subId };
                                $("#div_Active").append('<div class="loading_partial"></div>');
                                $("#div_Active").load('@Url.Action("EventList", "PointOfSale")', passdata);
                            }
                            else if (tab == 3)
                            {
                                status = 0;
                                passdata = { status: status, subId: subId};
                                $("#div_Inactive").append('<div class="loading_partial"></div>');
                                $("#div_Inactive").load('@Url.Action("EventList", "PointOfSale")', passdata);
                            }
                            else if (tab == 4)
                            {
                                status = 2;
                                passdata = { status: status, subId: subId };
                                $("#div_Deleted").append('<div class="loading_partial"></div>');
                                $("#div_Deleted").load('@Url.Action("EventList", "PointOfSale")', passdata);
                            }
                        }
                        else // if update from offer dashboard
                        {
                            clearBeforeClick();
                            $("#div_Events").append('<div class="loading_partial"></div>');
                            $("#div_Events").load('@Url.Action("EventTab", "PointOfSale")');
                        }
                    }
                    else {
                        alert("Save Error");
                    }
                }
            });
        }
    });
    //time Schedule create
    $("#divEventCreateForm").on('click', '#btnAddSchedule', function () {
        $("#divScheduleCreateWin").empty();
        $("#divScheduleCreateWin").kendoWindow({
            actions: ["Close"],
            draggable: false,
            modal: true,
            visible: false,
            width: 900,
            height: 500,
            title: 'Schedule',
            resizable: false,
            close: onWindowClose
        });
        var scheduleCreateWin = $("#divScheduleCreateWin").data("kendoWindow");
        scheduleCreateWin.refresh('/Configuration/ScheduleCreate?isCreateFromEvent=true');
        scheduleCreateWin.center().open();
        document.documentElement.style.overflow = 'hidden';  // firefox, chrome
        document.body.scroll = "no";
    });
</script>



