<div class="k-edit-form-container col-lg-11 col-md-10 col-sm-11 col-xs-10" id="" style="margin-bottom:4%;margin-top:2%;">
    <div id="divOfferCreateForm"></div>
    <div class="k-edit-buttons k-state-default" style="margin-left:30px;">
        @if (ViewBag.Id > 0)
         {
            <button type="button" class="k-button k-button-icontext k-primary k-grid-update" id="btnOfferCreate"><span class="k-icon k-update"></span>Update</button>
         }
        else
        {
            <button type="button" class="k-button k-button-icontext k-primary k-grid-update" id="btnOfferCreate"><span class="k-icon k-update"></span>Create</button>
        }
        <button type="reset" class="k-button k-button-icontext k-grid-update" id="btnOfferRefresh"><span class="k-icon k-i-refresh"></span>Refresh</button>
        <button type="button" class="k-button k-button-icontext k-grid-cancel" id="btnOfferCancel"><span class="k-icon k-cancel"></span>Cancel</button>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#divOfferCreateForm").append('<div class="tiny_loading"></div>');
        $("#divOfferCreateForm").load('@Url.Action("OfferCreatePartial", "PointOfSale")?id=' + '@ViewBag.Id');
    });
    $("#btnOfferRefresh").click(function () {
        $("#divOfferCreateForm").empty();
        $("#divOfferCreateForm").append('<div class="tiny_loading"></div>');
        $("#divOfferCreateForm").load('@Url.Action("OfferCreatePartial", "PointOfSale")?id=' + '@ViewBag.Id');
    });

    $("#btnOfferCancel").click(function () {
        $(this).closest(".k-window-content").data("kendoWindow").close();
    });

    var validation = $("#divOfferCreateForm").kendoValidator({
    }).data("kendoValidator");

    $("#btnOfferCreate").click(function () {

        if (validation.validate())
        {
            $(this).prop('disabled', true);
            var sendData = {
                Id: $("#Id").val(),
                MasterOfferId: $("#MasterOfferId").val(),
                Type: 2,
                OfferName: $.trim($("#OfferName").val()),
                ValidityDate: $("#ValidityDate").val(),
                ValidityDays: $("#ValidityDays").val(),
                ValidityTime: $("#ValidityTime").val(),
                IsDateValidity: $("#IsDateValidity").val(),
                IsEditable: $("#IsEditable").val(),
                ScheduleId: $("#ScheduleId").val(),
                CreatedBy : userId
            }
            $.ajax({
                url: '@Url.Action("OfferSave", "PointOfSale")',
                type: "POST",
                data: sendData,
                success: function (result) {
                    $("#divOfferCreateWin").data("kendoWindow").close();
                    if (result == "success") {
                        if ('@ViewBag.IsEvent' == 'True')
                        {
                            if (tab == 1) {
                                passdata = { eventId : '@ViewBag.EventId' };
                                $("#div_All").empty();
                                $("#div_All").append('<div class="loading_partial"></div>');
                                $("#div_All").load('@Url.Action("OfferList", "PointOfSale")', passdata);
                            }
                            else if (tab == 2) {
                                status = 1;
                                passdata = { eventId : '@ViewBag.EventId', status: status };
                                $("#div_Active").append('<div class="loading_partial"></div>');
                                $("#div_Active").load('@Url.Action("OfferList", "PointOfSale")', passdata);
                            }
                            else if (tab == 3) {
                                status = 0;
                                passdata = { eventId : '@ViewBag.EventId', status: status };
                                $("#div_Inactive").append('<div class="loading_partial"></div>');
                                $("#div_Inactive").load('@Url.Action("OfferList", "PointOfSale")', passdata);
                            }
                            else if (tab == 4) {
                                status = 2;
                                passdata = { eventId : '@ViewBag.EventId', status: status };
                                $("#div_Deleted").append('<div class="loading_partial"></div>');
                                $("#div_Deleted").load('@Url.Action("OfferList", "PointOfSale")', passdata);
                            }
                        }
                        else //if update from offer dashboard page
                        {
                            clearBeforeClick();
                            $("#div_Offers").append('<div class="loading_partial"></div>');
                            $("#div_Offers").load('@Url.Action("OfferTab", "PointOfSale")');
                        }
                    }
                    else {
                        alert("Save Error");
                    }
                }
            });
        }
    });
</script>



