@model PointOfSale.ModelViews.POS.OfferModelView
@Html.HiddenFor(a => a.Id)
@Html.HiddenFor(a => a.MasterOfferId)
@Html.HiddenFor(a => a.IsDateValidity)
<div class="editor-label"><label for="OfferName">Name</label></div>
<div class="editor-field">
    @Html.EditorFor(model => model.OfferName, new { htmlattributes = new { @class = "k-textbox", @style = "width:100%; max-width:100%" } })
    @Html.ValidationMessageFor(model => model.OfferName, "", new { @class = "text-Danger" })
</div>
@if (Model != null)
{
    if (Model.MasterOfferId == null || Model.MasterOfferId == 0)
    {
        <div class="editor-label"><label for="OfferName">Validity</label></div>
        <div class="editor-field">
            <label>
                <input type="radio" checked name="validity" id="dateValidity" /> Date
            </label>
            <label>
                <input type="radio" name="validity" id="daysValidity" /> Days
            </label>
            <div id="divDateValidity">
                @(Html.Kendo().DateTimePickerFor(m => m.ValidityDate)
              .Format("MMMM dd yyyy hh:mm tt")
              .Min(DateTime.Now)
              .HtmlAttributes(new { style = "width: 100%; max-width:100%", required = "required", @validationMessage = "Please enter validity date" })
                )
                @Html.ValidationMessageFor(model => model.ValidityDate, "", new { @class = "text-Danger" })
            </div>
            <div id="divDayValidity" style="">
                <div style="width:49%" class="pull-left">
                    @Html.EditorFor(model => model.ValidityDays, new { htmlattributes = new { @class = "k-textbox", @style = "width:100%; max-width:100%", @min = 1, required = "required", @validationMessage = "Please enter validity days" } })
                    @Html.ValidationMessageFor(model => model.ValidityDays, "", new { @class = "text-Danger" })
                </div>
                <div style="width:49%" class="pull-right">
                    @(Html.Kendo().TimePickerFor(m => m.ValidityTime)
                        .HtmlAttributes(new { style = "width: 100%; max-width:100%", required = "required", @validationMessage = "Please enter validity time" })
                    )
                    @Html.ValidationMessageFor(model => model.ValidityTime, "", new { @class = "text-Danger" })
                </div>
            </div>
        </div>
        <div class="editor-label"><label for="Schedule">Time Schedule</label></div>
        <div class="editor-field">
            @(Html.Kendo().DropDownListFor(a => a.ScheduleId)
                         .DataTextField("Name")
                         .DataValueField("Id")
                         .DataSource(source =>
                         {
                             source.Read(read =>
                             {
                                 read.Action("GetSchedule", "Configuration");
                             });
                         })
                         .OptionLabel("--Select time schedule--")
                         .HtmlAttributes(new { style = "width:100%" })
            )
        </div>
        <div class="editor-field">
            @Html.CheckBoxFor(model => model.IsEditable, new { htmlattributes = new { @class = "k-textbox", @style = "width:100%" } }) <label for="IsEditable">Is-Editable</label>
        </div>

    }
 }
<script>
    $(document).ready(function () {
        if ($("#IsEditable").attr('checked')) {
            $("#IsEditable").val(true);
        }
        else {
            $("#IsEditable").val(false);
        }
        $("#divDayValidity").hide();
        $("#IsDateValidity").val(true);
        $('#ValidityDays').prop('required', false);
        $('#ValidityTime').prop('required', false);
    });
    $("#dateValidity").click(function () {
        $("#IsDateValidity").val(true);
        $("#divDateValidity").show();
        $("#divDayValidity").hide();
        $('#ValidityDays').prop('required', false);
        $('#ValidityTime').prop('required', false);
        $('#ValidityDate').prop('required', true);
    });
    $("#daysValidity").click(function () {
        $("#IsDateValidity").val(false);
        $("#divDateValidity").hide();
        $("#divDayValidity").show();
        $('#ValidityDays').prop('required', true);
        $('#ValidityTime').prop('required', true);
        $('#ValidityDate').prop('required', false);
    });
    $('#IsEditable').change(function () {
        if ($(this).is(":checked")) {
            $('#IsEditable').val(true);
        } else {
            $('#IsEditable').val(false);
        }
    });

</script>




