@model IEnumerable<PointOfSale.Models.ViewPosOrder>
@using PointOfSale.Helpers
@using System.Globalization
@{
    var count = 0;
}
@if (Model.Any())
{
    <table class="table table-bordered table-hover table-responsive table-condensed table-striped">
        <tr>
            <th>SL.</th>
            <th>Info</th>
            <th>Order No.</th>
            <th>Salesman</th>
            <th>Total Price</th>
            <th>Due</th>
            <th>Date</th>
            <th style="width:127px"></th>
        </tr>
        @foreach (var list in Model)
        {
            count++;
            <tr>
                <td>@count. </td>
                <td>
                    @if (list.Discount > 0)
                     {
                        <img src="~/Images/DiscountImage/272498.png" />
                     }
                    @if (list.IsItemRefund == true)
                     {
                        <i class="fa fa-reply" aria-hidden="true"></i>
                     }
                </td>
                <td>
                    <a href="@Html.EncodedParam("Refund", "PointOfSale", new { OrderId = list.OrderId}, null)">@list.OrderNumber</a>
                </td>
                <td>@list.CreatedBy</td>
                <td>@list.TotalPrice.ToString("C", new CultureInfo("bn-BD"))</td>
                <td>@list.DueAmount.Value.ToString("C", new CultureInfo("bn-BD"))</td>
                <td>@Convert.ToDateTime(list.OrderDate).ToString("MMM dd yyyy hh:mm:ss tt")</td>
                <td>
                    <a class="btn btn-primary" href="@Html.EncodedParam("Refund", "PointOfSale", new { OrderId = list.OrderId}, null)" data-toggle="tooltip" title="View Details"><i class="fa fa-align-justify"></i></a>
                    <button class="btn btn-danger btnRefundAll" data-id="@list.OrderId">Refund</button>
                </td>
            </tr>
        }
    </table>
}
else
{
    <h4>There is no record to display</h4>
}
<script>
    $('[data-toggle="tooltip"]').tooltip();
</script>

