@model IEnumerable<PointOfSale.Models.ViewPayment>
@using System.Globalization
@{
    var count = 0;
}
@if (Model.Any())
 {
    <table class="table table-bordered">
        <tr>
            <th>SL.</th>
            <th>Voucher</th>
            <th>Voucher(Credit)</th>
            <th>Ref. Voucher</th>
            <th>Payment Type</th>
            <th>Payment Body</th>
            <th>Debit</th>
            <th>Credit</th>
            <th>Transaction No</th>
            <th>Date</th>
        </tr>
        @foreach (var list in Model)
        {
            count++;
            if (list.InOut == true)
            {
                <tr style="background-color:#e4f8ff">
                    <td>@count.</td>
                    <td>
                        @if (list.Type == 1)
                        {
                            <a class="btnShowOrderDetails" data-toggle="tooltip" title="View Order Details" data-id="@list.PaymentId">@list.OrderNumber</a>
                        }
                        else if(list.Type == 2)
                        {

                        }
                        else if(list.Type == 3)
                        {
                            <a class="btnShowImportDetails" data-toggle="tooltip" title="View voucher details" data-id="@list.PaymentId">@list.ImportNumber</a>
                        }
                        else if(list.Type == 4)
                        {
                            <a class="btnShowImportDetails" data-toggle="tooltip" title="View voucher details" data-id="@list.ReturnImportId">@list.ReturnImportNumber</a>
                        }
                        else if (list.Type == 9)
                        {
                            @list.WarehouseVoucher
                        }
                    </td>
                    <td>
                        @if (list.CreditPaymentId > 0)
                         {
                            <a class="btnShowOrderDetails" data-toggle="tooltip" title="View Order Details" data-id="@list.CreditPaymentId">@list.CreditVoucherNo</a>
                         }
                        else
                        {
                            <span>@list.CreditVoucherNo</span>
                        }
                    </td>
                    <td>@list.RefOrderNumber</td>
                    <td>@list.PaymentTypeName</td>
                    <td>@list.PaymentBodyName @if (list.SerialNumber != null)
                    { <span>(@list.SerialNumber)</span> }</td>
                    <td>
                        @list.Amount.ToString("C", new CultureInfo("bn-BD")) @if (list.IsCreditPayment == true)
                        { <span>(Credit Payment)</span> }
                    </td>
                    <td></td>
                    <td>@list.TransactionNo</td>
                    <td>@Convert.ToDateTime(list.Date).ToString("MMM dd yyyy")</td>
                </tr>
            }
            else
            {
                <tr style="background-color:#fafff6">
                    <td>@count.</td>
                    <td>
                        @if (list.Type == 1)
                         {
                            <a class="btnShowOrderDetails" data-toggle="tooltip" title="View Order Details" data-id="@list.PaymentId">@list.OrderNumber</a>
                         }
                        else if(list.Type == 2)
                        {

                        }
                        else if(list.Type == 3)
                        {
                            <a class="btnShowImportDetails" data-toggle="tooltip" title="View voucher details" data-id="@list.PaymentId">@list.ImportNumber</a>
                        }
                        else if(list.Type == 4)
                        {
                            <a class="btnShowImportDetails" data-toggle="tooltip" title="View voucher details" data-id="@list.ReturnImportId">@list.ReturnImportNumber</a>
                        }
                        else if (list.Type == 9)
                        {
                            @list.WarehouseVoucher
                        }
                    </td>
                    <td>
                        @if (list.CreditPaymentId > 0)
                         {
                            <a class="btnShowOrderDetails" data-toggle="tooltip" title="View Order Details" data-id="@list.CreditPaymentId">@list.CreditVoucherNo</a>
                         }
                        else
                        {
                            <span>@list.CreditVoucherNo</span>
                        }
                    </td>
                    <td>@list.RefOrderNumber</td>
                    <td>@list.PaymentTypeName</td>
                    <td>@list.PaymentBodyName @if (list.SerialNumber != null)
                    { <span>(@list.SerialNumber)</span> }</td>
                    <td></td>
                    <td>
                        @list.Amount.ToString("C", new CultureInfo("bn-BD")) 
                    </td>
                    <td>@list.TransactionNo</td>
                    <td>@Convert.ToDateTime(list.Date).ToString("MMM dd yyyy")</td>
                </tr>
            }
         }
        @*@foreach (var list in Model)
        {
            if (date != list.Date)
            {
                colorCount++;
            }
            date = list.Date;
            count++;
            if (colorCount == 1)
            {
                <tr style="background-color:#e4f8ff">
                    <td>@count.</td>
                    <td>
                        <a class="btnShowOrderDetails" data-toggle="tooltip" title="View Order Details" data-id="@list.PaymentId">@list.OrderNumber</a>
                    </td>
                    <td>
                        @if (list.CreditPaymentId > 0)
                         {
                            <a class="btnShowOrderDetails" data-toggle="tooltip" title="View Order Details" data-id="@list.CreditPaymentId">@list.CreditVoucherNo</a>
                         }
                        else
                        {
                            <span>@list.CreditVoucherNo</span>
                        }
                    </td>
                    <td>@list.PaymentTypeName</td>
                    <td>@list.PaymentBodyName @if (list.SerialNumber != null) { <span>(@list.SerialNumber)</span> }</td>
                    <td>@list.Amount.ToString("C", new CultureInfo("bn-BD")) @if (list.IsCreditPayment == true)
                    { <span>(Credit Payment)</span> } </td>
                    <td>@list.TransactionNo</td>
                    <td>@Convert.ToDateTime(list.Date).ToString("MMM dd yyyy")</td>
                </tr>
            }
            else if (colorCount == 2)
            {
                <tr style="background-color:#fafff6">
                    <td>@count.</td>
                    <td>
                        <a class="btnShowOrderDetails" data-toggle="tooltip" title="View Order Details" data-id="@list.PaymentId">@list.OrderNumber</a>
                    </td>
                    <td>
                        @if (list.CreditPaymentId > 0)
                        {
                            <a class="btnShowOrderDetails" data-toggle="tooltip" title="View Order Details" data-id="@list.CreditPaymentId">@list.CreditVoucherNo</a>
                        }
                        else
                        {
                            <span>@list.CreditVoucherNo</span>
                        }
                    </td>
                    <td>@list.PaymentTypeName</td>
                    <td>@list.PaymentBodyName @if (list.SerialNumber != null) { <span>(@list.SerialNumber)</span> }</td>
                    <td>@list.Amount.ToString("C", new CultureInfo("bn-BD")) @if (list.IsCreditPayment == true)
                    { <span>(Credit Payment)</span> } </td>
                    <td>@list.TransactionNo</td>
                    <td>@Convert.ToDateTime(list.Date).ToString("MMM dd yyyy")</td>
                </tr>
            }
            else if (colorCount == 3)
            {
                <tr style="background-color:#e4f8ff">
                    <td>@count.</td>
                    <td>
                        <a class="btnShowOrderDetails" data-toggle="tooltip" title="View Order Details" data-id="@list.PaymentId">@list.OrderNumber</a>
                    </td>
                    <td>
                        @if (list.CreditPaymentId > 0)
                        {
                            <a class="btnShowOrderDetails" data-toggle="tooltip" title="View Order Details" data-id="@list.CreditPaymentId">@list.CreditVoucherNo</a>
                        }
                        else
                        {
                            <span>@list.CreditVoucherNo</span>
                        }
                    </td>
                    <td>@list.PaymentTypeName</td>
                    <td>@list.PaymentBodyName @if (list.SerialNumber != null) { <span>(@list.SerialNumber)</span> }</td>
                    <td>@list.Amount.ToString("C", new CultureInfo("bn-BD")) @if (list.IsCreditPayment == true)
                    { <span>(Credit Payment)</span> } </td>
                    <td>@list.TransactionNo</td>
                    <td>@Convert.ToDateTime(list.Date).ToString("MMM dd yyyy")</td>
                </tr>
                colorCount = 1;
            }
         }*@
        <tr style="font-weight:bold">
            <td></td>
            <td colspan="5" style="text-align:center">Total</td>
            <td>@Model.Where(a => a.InOut == true).Sum(s => s.Amount).ToString("C", new CultureInfo("bn-BD"))</td>
            <td>@Model.Where(a => a.InOut == false).Sum(s => s.Amount).ToString("C", new CultureInfo("bn-BD"))</td>
            <td></td>
            <td></td>
        </tr>
        @*<tr style="font-weight:bold">
            <td></td>
            <td colspan="4" style="text-align:center">Remaining</td>
            <td>@Model.Where(a => a.InOut == true).Sum(s => s.Amount).ToString("C", new CultureInfo("bn-BD"))</td>
            <td>@Model.Where(a => a.InOut == false).Sum(s => s.Amount).ToString("C", new CultureInfo("bn-BD"))</td>
            <td></td>
            <td></td>
        </tr>*@

    </table>
}
else
{
    <h4>There is no record to display</h4>
}
<script>
    $('[data-toggle="tooltip"]').tooltip();
</script>