<div class="k-edit-form-container col-lg-11 col-md-10 col-sm-11 col-xs-10" id="" style="margin-bottom:4%;margin-top:2%;">
    <div id="divRefundCreate"></div>
    <div class="k-edit-buttons k-state-default" style="margin-left:30px;">
        <button type="button" class="k-button k-button-icontext k-primary k-grid-update" id="btnConfirm"><span class="k-icon k-update"></span>Confirm</button>
        <button type="reset" class="k-button k-button-icontext k-grid-update" id="btnRefresh"><span class="k-icon k-i-refresh"></span>Refresh</button>
        <button type="button" class="k-button k-button-icontext k-grid-cancel" id="btnCancel"><span class="k-icon k-cancel"></span>Cancel</button>
    </div>
</div>
<script>
    $(document).ready(function () {
         $("#divRefundCreate").empty();
         $("#divRefundCreate").load('@Url.Action("RefundCreatePartial", "PointOfSale")?orderTransactionId=' + '@ViewBag.orderTransactionId');
    });
    $("#btnRefresh").click(function () {
        $("#divRefundCreate").empty();
        $("#divRefundCreate").load('@Url.Action("RefundCreatePartial", "PointOfSale")?orderTransactionId=' + '@ViewBag.orderTransactionId');
    });

    $("#btnCancel").click(function () {
        $(this).closest(".k-window-content").data("kendoWindow").close();
    });

    var validation = $("#divRefundCreate").kendoValidator().data("kendoValidator");


    @*$("#").click(function () {
        if (validation.validate(){
            
        });
        $.ajax({
            url: '@Url.Action("RefundSave", "PointOfSale")',
            type: 'POST',
            data: { orderTransactionId: '@ViewBag.orderTransactionId', quantity: $("#Quantity").val(), UserId : userId },
            success: function (data)
            {
                if (data == "success")
                {
                    $("#divRefundWin").data("kendoWindow").close();
                    window.location.reload();
                }
                else {
                    alert("Refund error...");
                }
            }
        });
    });*@
</script>
