@model IEnumerable<PointOfSale.Models.Product>
<table class="table table-bordered table-hover table-responsive table-condensed table-striped" id="tblProducts">
    <tr>
        <th></th>
        <th>Product Name</th>
        <th>Price</th>
    </tr>
    @if (Model.Any() == true)
    {
        foreach (var list in Model)
        {
            <tr id="product_@list.ProductId" class="Products" data-id="@list.ProductId" data-points="@list.Points">
                <td>
                    <input type="checkbox" checked data-id="@list.ProductId" class="check" id="check_@list.ProductId" />
                </td>
                <td>@list.ProductName</td>
                <td>@list.Price</td>
            </tr>
        }
    }
    else
    {
        <tr>
            <td colspan="3">
                <h4>There is no record to display</h4>
                <script>
                   $("#btnSave").prop('disabled', true);
                </script>
            </td>
        </tr>
    }
</table>
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    })
</script>







