@model IEnumerable<PointOfSale.Models.ViewDeliveryCharge>
@{
    var count = 0;
}
@if (Model.Any() == true)
{
    <table class="table table-bordered table-responsive">
        <tr>
            <th>SL.</th>
            <th>From</th>
            <th>To</th>
            <th>Type</th>
            <th>Amount</th>
            <th>Created By</th>
            <th>Created Date</th>
            <th>UpdatedBy</th>
            <th>Updated Date</th>
            <th></th>
        </tr>
        @foreach (var list in Model)
        {
            count++;
            <tr>
                <td>@count. </td>
                <td>@list.FromPrice</td>
                <td>@list.ToPrice</td>
                @if (list.IsPercentile == true)
                {
                    <td>Percentile</td>
                    <td>@list.Amount %</td>
                }
                else
                {
                    <td>Static</td>
                    <td>@list.Amount Tk</td>
                }
                <td>@list.CreatedBy</td>
                <td>@Convert.ToDateTime(list.CreatedDate).ToString("MMM dd,yyyy")</td>
                <td>@list.UpdatedBy</td>
                <td>
                    @if (list.UpdatedDate != null)
                     {
                        @Convert.ToDateTime(list.UpdatedDate).ToString("MMM dd,yyyy")
                     }
                    else
                    {
                        <span>Not yet updated</span>
                    }
                </td>
                <td>
                    <button class="btn btn-primary btnEdit" data-id="@list.Id" data-toggle="tooltip" title="Edit delivery charge Information"><i class="fa fa-pencil-square-o"></i></button>
                    @if (list.Status == true)
                     {
                        <button type="button" data-id="@list.Id" data-isactive="0" class="btn btn-danger inactivatePriceRange" data-toggle="tooltip" title="Inactivate this price range">
                            <i class="fa fa-stop" aria-hidden="true"></i>
                        </button>
                     }
                    else
                    {
                        <button type="button" data-id="@list.Id" data-isactive="1" class="btn btn-success activatePriceRange" data-toggle="tooltip" title="Activate this price range">
                            <i class="fa fa-play" aria-hidden="true"></i>
                        </button>
                    }
                    @if (list.Status == false)
                     {
                        <span data-id="@list.Id" style="cursor:pointer;" data-toggle="tooltip" title="Delete this price range" class="btn btn-danger btnDelete">
                            <i class="fa fa-trash"></i>
                        </span>
                     }
                </td>
            </tr>
        }
    </table>
}
else
{
    <h4>There is no record to display</h4>
}
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    })
</script>







