@model IEnumerable<PointOfSale.Models.ViewIndentItem>
@using System.Globalization
@{
    var count = 0;
}
@if (Model.Any() == true)
{
    <table class="table table-bordered table-hover table-responsive table-condensed table-striped">
        <tr>
            <th>SL.</th>
            <th>Product Name</th>
            <th>Request Qty</th>
            <th>Received Qty</th>
            <th>Remaining Qty</th>
            <th>Change Request</th>
            <th>Per Unit Price</th>
            @*<th>Updated By</th>
            <th>Updated Date</th>*@
            @if (ViewBag.IsView == false)
            {
                <th></th>
            }
        </tr>
        @foreach (var list in Model)
        {
            count++;
            <tr>
                <td>@count. </td>
                <td>@list.ProductName</td>
                <td>
                    @if (list.Status == 2)
                     {
                        <span class="text-danger">@list.RequestQuantity Piece/s <span class="pull-right"><i class="fa fa-info-circle" data-toggle="tooltip" data-placement="right" title="This product is added after approve this voucher. To import this product, it should be approved."></i></span></span>
                     }
                    else
                    {
                        <span>@list.RequestQuantity Piece/s</span>
                    }
                </td>
                <td>@list.ReceiveQuantity Piece/s</td>
                <td>@list.RemainingQuantity Piece/s</td>
                <td>
                    @if(list.ChangeRequest == true)
                     {
                            <span class="text-warning">@list.ChangeQty Piece/s <span class="pull-right"><i class="fa fa-info-circle" data-toggle="tooltip" data-placement="right" title="This product has a change request. Change Quantity will not effect on Import until Approve Changes."></i></span></span>
                     }
                    else
                    {
                        <span>-</span>
                    }
                </td>
                <td>
                    @if (list.Price > 0)
                     {
                        <span>@list.Price.Value.ToString("C", new CultureInfo("bn-BD"))</span>
                     }
                    else
                    {
                        <span>0.00</span>
                    }
                </td>
                @*<td>@list.UpdatedBy</td>
                <td>
                    @if (list.UpdatedDate != null)
                     {
                        <span>@Convert.ToDateTime(list.UpdatedDate).ToString("MMMM dd,yyyy")</span>
                     }
                    else
                    {
                        <span>Not updated yet</span>
                    }
                </td>*@
                @if (ViewBag.IsView == false)
                 {
                    <td>
                        @if (list.ChangeRequest == true)
                        {
                            <button class="btn btn-success btnapproveChanges" data-toggle="tooltip" title="Approve changes" data-id="@list.Id"><i class="fa fa-check"></i></button>
                            <button class="btn btn-danger btnRemoveChanges" data-toggle="tooltip" title="Remove changes" data-id="@list.Id"><i class="fa fa-times"></i></button>
                        }
                        @if (list.IndentStatus == 1 || list.Status == 2)
                        {
                            <button class="btn btn-primary btnEditItem" data-toggle="tooltip" title="Edit this item" data-id="@list.Id"><i class="fa fa-pencil-square-o"></i></button>
                            if (list.Status == 2)
                            {
                                <button class="btn btn-success btnapproveItem" data-toggle="tooltip" title="Approve item" data-id="@list.Id"><i class="fa fa-check-square-o"></i></button>
                            }
                        }
                        else
                        {
                            <button class="btn btn-primary btnEditItemQuantity" data-toggle="tooltip" title="Edit item quantity" data-id="@list.Id"><i class="fa fa-pencil"></i></button>
                        }
                        @if (list.ReceiveQuantity == 0)
                        {
                            <button class="btn btn-danger btnDeleteItem" data-id="@list.Id" data-toggle="tooltip" title="Delete item from voucher"><i class="fa fa-trash"></i></button>
                        }
                    </td>
                 }
            </tr>
         }
    </table>
 }
else
{
    <h3>There is no record to display</h3>
}
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    })
</script>







