<div class="k-edit-form-container col-lg-11 col-md-10 col-sm-11 col-xs-10" id="" style="margin-bottom:4%;margin-top:2%;">
    <div id="divStockEditForm"></div>
    <div class="k-edit-buttons k-state-default" style="margin-left:30px;">
        <button type="button" class="k-button k-button-icontext k-primary k-grid-update" id="btnStockUpdate"><span class="k-icon k-update"></span>Update</button>
        <button type="reset" class="k-button k-button-icontext k-grid-update" id="btnRefresh"><span class="k-icon k-i-refresh"></span>Refresh</button>
        <button type="button" class="k-button k-button-icontext k-grid-cancel" id="btnCancel"><span class="k-icon k-cancel"></span>Cancel</button>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#divStockEditForm").empty();
        $("#divStockEditForm").load('@Url.Action("StockEditPartial", "Inventory")?StockId=' + '@ViewBag.StockId');
    });
    $("#btnRefresh").click(function () {
        $("#divStockEditForm").empty();
        $("#divStockEditForm").load('@Url.Action("StockEditPartial", "Inventory")?StockId=' + '@ViewBag.StockId');
    });

    $("#btnCancel").click(function () {
        $(this).closest(".k-window-content").data("kendoWindow").close();
    });

    var validation = $("#divStockEditForm").kendoValidator({}).data("kendoValidator");

    $("#btnStockUpdate").click(function () {
        if (validation.validate())
        {
            var sendData = {
                StockId: $("#StockId").val(),
                Quantity: $("#Quantity").val()
            }
            $.ajax({
                url: '@Url.Action("StockUpdate", "Inventory")',
                type: "POST",
                data: sendData,
                success: function (data)
                {
                    if (data == "success")
                    {
                        $("#divStockEditWin").data("kendoWindow").close();
                         $("#divStockList").empty();
                         $("#divStockList").load('@Url.Action("StockListPartial", "Inventory")');
                    }
                    else {
                        alert("Update error...");
                    }
                }
            })
        }
    });



</script>
