@model IEnumerable<PointOfSale.ModelViews.ImportModelItem>
@{
    PointOfSale.Models.PointOfSale_DBEntities db = new PointOfSale.Models.PointOfSale_DBEntities();
    var totalCost = Model.Sum(a => a.Cost);
}
<style>
    .editor-label {
        display: inline;
    }

    .editor-field {
        display: inline;
    }

    .cartItem {
        padding: 18px 10px;
        margin: 0px;
        cursor: pointer;
    }

    .checkOut td {
        font-size: 20px;
        padding: 5px 0 5px 2px;
    }

    .btnPaymentTypeCancel {
        cursor: pointer;
        padding-top: 3px;
        padding-left: -2px;
    }

    .paymentTable {
        border: 1px solid #cccccc;
        width: 100%;
        max-width: 100%;
    }

        .paymentTable tr th {
            border: 1px solid #cccccc;
            padding: 8px;
        }

        .paymentTable tr td {
            padding: 8px;
            border-right: 1px solid #cccccc;
            line-height: 1.4;
            vertical-align: top;
        }

    .border-top td {
        border-top: 1px solid #cccccc;
    }
    .btn-width {
        width: 83%;
    }
</style>
<section class="content">
        <div class="col-md-1"></div>
        <div class="col-md-3">
            <div class="alert alert-success alert-dismissable">
                <h3 style="margin-top:10px;" class="text-center">Supplier : @ViewBag.SupplierName <br /> Debit Amount : @ViewBag.AvailableDebitAmount Tk</h3>
            </div>
            <div class="box box-success">
                <div id="OrderContainer">
                    <div id="orderTitleHolder" class="clearfix">
                        <h2 id="orderTitle">
                            Import Invoice
                        </h2>
                    </div>
                    <table id="cartListContainer" class="table table-bordered table-hover" style="max-height:300px; overflow-y:scroll">
                        <tr>
                            <th>Product</th>
                            <th>Indent</th>
                            <th>Quantity</th>
                            <th>Peritem Price</th>
                            <th>Price</th>
                        </tr>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.ProductName</td>
                                <td>@item.IndentVoucher</td>
                                <td>@item.Quantity</td>
                                <td>@item.PeritemCost</td>
                                <td>@item.Cost</td>
                            </tr>
                            @*<li class="cartItem">
                                @item.ProductName | @item.IndentVoucher |  @item.Quantity  | @item.PeritemCost | @item.Cost
                            </li>*@
                        }
                    </table>
                    <div id="pricesWrap-sticky-wrapper" class="stricky-wrapper">
                        <div id="priceWrap">
                            <div id="billSummaryContainer">
                                <table class="summaryTbl checkOut" style="border-bottom: 1px solid #ccc;">
                                    <tr style="" class="totalCartPriceRow">
                                        <td>Invoice Amount</td>
                                        <td>
                                            <div class="totalItemPrice">
                                                @totalCost<i class="taka">Tk</i>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1">
            <button type="button" class="btn btn-block btn-primary btn-width" id="btnCash">Cash</button>
            <button type="button" class="btn btn-block btn-primary btn-width" id="btnCard">Card</button>
            <button type="button" class="btn btn-block btn-primary btn-width" id="btnBkash">Bkash</button>
            <button type="button" class="btn btn-block btn-primary btn-width" id="btnCheck">Check</button>
            <button type="button" class="btn btn-block btn-primary btn-width" id="btnDebit">Debit</button>
            <button type="button" class="btn btn-block btn-primary btn-width" id="btnCredit">Credit</button>
        </div>
        <div class="col-md-3" style="font-size:18px;">
            <div class="box box-success">
                <table class="paymentTable" id="tblPaymentType" style="width:100%">
                    <tr>
                        <th>Payment Type</th>
                        <th>Amount</th>
                    </tr>
                    <tr class="border-top">
                        <td>Total</td>
                        <td><span id="totalPay">0.00</span>Tk</td>
                    </tr>
                    <tr>
                        <td>Remaining</td>
                        <td><span id="remainingAmount">@totalCost</span>Tk</td>
                    </tr>
                    <tr id="returnRow" style="display:none">
                        <td>Return Amount</td>
                        <td><span id="returnAmount">0.00</span>Tk</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-md-2">
            @*<button type="button" class="btn btn-block btn-primary btn-lg">@ViewBag.SupplierName</button>*@
            <button type="button" class="btn btn-block btn-success btn-lg" id="btnPay">Pay</button>
            <button type="button" class="btn btn-warning btn-block btn-lg" id="btnPayCancel">Cancel</button>
        </div>
</section>
<div id="divCashWin"></div>
<div id="divCardWin"></div>
<div id="divBkashWin"></div>
<div id="divCheckWin"></div>
<div id="divCreditWin"></div>
<div id="divDebitWin"></div>
<script>
    var totalPaidAmount = 0, cashAmount = 0, creditAmount = 0, cardAmount = 0; bcashAmount = 0; checkAmount = 0; totalPrice = 0, remainingAmount = 0, totalMain = 0, returnAmount = 0;
    var bkashBodyId = 0, cardBodyId = 0, checkBodyId = 0, cashBodyId = 0;
    var cardTransactionNo, bkashTransactionNo, checkTransactionNo;
    var defaultType = false; // default Type false for out default
    var methodId = 5;
    var isRelease = true;
    var debitAmount = 0, availableDebitAmount = 0;
    availableDebitAmount = @ViewBag.AvailableDebitAmount;
    totalMain = @totalCost;
    totalPrice = @totalCost;
    $(document).ready(function () {
        $("#btnPay").prop("disabled", true);
        if (availableDebitAmount < 1)
        {
            $("#btnDebit").prop("disabled", true);
        }
    });
    $("#btnPayCancel").click(function () {
        $(this).closest(".k-window-content").data("kendoWindow").close();
    });

     $("#btnCash").click(function () {
        totalPaidAmount = 0;
        $(".amountInTransaction").each(function () {
            totalPaidAmount = totalPaidAmount + parseFloat($(this).text());
        });
        totalPaidAmount = totalPaidAmount - cashAmount;
        totalPrice = (totalMain - totalPaidAmount).toFixed(2);
        $("#divCashWin").empty();
        $("#divCashWin").kendoWindow({
            actions: ["Close"],
            draggable: false,
            modal: true,
            visible: false,
            width: 600,
            height: 540,
            title: 'Cash',
            resizable: false
        });
        var cashWin = $("#divCashWin").data("kendoWindow");
        cashWin.refresh('@Url.Action("Cash", "PointOfSale")?totalPrice=' + totalPrice + '&cashAmount=' + cashAmount + '&isRelease=' + isRelease + '&methodId=' + methodId + '&defaultType=' + defaultType);
        cashWin.center().open();
    });

    $("#divCashWin").on('click', '#btnConfirm', function () {
        if (CashValidator.validate())
        {
            totalPaidAmount = 0;
            cashAmount = parseFloat($("#AmountPaid").val()).toFixed(2);
            cashBodyId = $("#CashBodyId").val();
            if ($("#cashAmount").length == 1)
            {
                $("#cashAmount").empty();
                $("#cashAmount").append(cashAmount);
            }
            else
            {
                $("#tblPaymentType tr:last").prev().prev().before('<tr>' +
                    '<td>Cash</td>' +
                    '<td><span class="amountInTransaction" data-id="1" data-cashbodyid="' + cashBodyId + '"  id="cashAmount">' + cashAmount + '</span>Tk<span data-id="1" class="btnPaymentTypeCancel fa fa-times-circle pull-right"></span></td>' +
                    '</tr>');
            }
            $(".amountInTransaction").each(function () {
                totalPaidAmount = totalPaidAmount + parseFloat($(this).text());
            });
            remainingAmount = totalMain - totalPaidAmount;


            if (remainingAmount < 0)
            {
                returnAmount = totalPaidAmount - totalMain;
                $("#returnRow").css("display", "");
                $("#returnAmount").empty();
                $("#returnAmount").append(returnAmount.toFixed(2));

                $("#remainingAmount").empty();
                $("#remainingAmount").append('0.00');

                $("#btnPay").prop("disabled", false);
            }
            else {
                if (remainingAmount == 0) {
                    $("#btnPay").prop("disabled", false);
                }
                else {
                    $("#btnPay").prop("disabled", true);
                }
                $("#remainingAmount").empty();
                $("#remainingAmount").append(remainingAmount.toFixed(2));

                $("#returnRow").css("display", "none");
            }

            $("#totalPay").empty();
            $("#totalPay").append(totalPaidAmount.toFixed(2));
            $("#divCashWin").data("kendoWindow").close();
        }
    });

    $("#btnCard").click(function () {
        totalPaidAmount = 0;
        $(".amountInTransaction").each(function () {
            totalPaidAmount = totalPaidAmount + parseFloat($(this).text());
        });
        totalPrice = (totalMain - totalPaidAmount).toFixed(2);
        $("#divCardWin").empty();
        $("#divCardWin").kendoWindow({
            actions: ["Close"],
            draggable: false,
            modal: true,
            visible: false,
            width: 600,
            height: 606,
            title: 'Card',
            resizable: false
        });
        var cardWin = $("#divCardWin").data("kendoWindow");
        cardWin.refresh('@Url.Action("Card", "PointOfSale")?totalPrice=' + totalPrice + '&isRelease=' + isRelease + '&methodId=' + methodId + '&defaultType=' + defaultType);
        cardWin.center().open();
    });
    $("#divCardWin").on('click', '#btnPaid', function () {
        if (cardValidator.validate()) {
            cardAmount = parseFloat($("#CardPaid").val()).toFixed(2);
            cardBodyId = $("#PaymentBodyId").val();
            cardTransactionNo = $("#TransactionNo").val();

            $("#tblPaymentType tr:last").prev().prev().before('<tr>' +
                '<td>Card</td>' +
                '<td><span class="amountInTransaction" data-id="2" data-cardamount="' + cardAmount + '" data-cardbodyid="' + cardBodyId + '" data-transactionno="' + cardTransactionNo + '" >' + cardAmount + '</span>Tk<span data-id="2" class="btnPaymentTypeCancel fa fa-times-circle pull-right"></span></td>' +
                '</tr>');

            totalPaidAmount = 0;
            $(".amountInTransaction").each(function () {
                totalPaidAmount = totalPaidAmount + parseFloat($(this).text());
            });
            remainingAmount = totalMain - totalPaidAmount;
            if (remainingAmount < 0) {
                returnAmount = totalPaidAmount - totalMain;
                $("#returnRow").css("display", "");
                $("#returnAmount").empty();
                $("#returnAmount").append(returnAmount.toFixed(2));

                $("#remainingAmount").empty();
                $("#remainingAmount").append('0.00');

                $("#btnPay").prop("disabled", false);
            }
            else {
                if (remainingAmount == 0) {
                    $("#btnPay").prop("disabled", false);
                }
                else {
                    $("#btnPay").prop("disabled", true);
                }
                $("#remainingAmount").empty();
                $("#remainingAmount").append(remainingAmount.toFixed(2));

                $("#returnRow").css("display", "none");
            }
            $("#totalPay").empty();
            $("#totalPay").append(totalPaidAmount.toFixed(2));
            $("#divCardWin").data("kendoWindow").close();
        }
    });

     $("#btnBkash").click(function () {
         totalPaidAmount = 0;
         $(".amountInTransaction").each(function () {
             totalPaidAmount = totalPaidAmount + parseFloat($(this).text());
         });
        totalPrice = (totalMain - totalPaidAmount).toFixed(2);
        $("#divBkashWin").empty();
        $("#divBkashWin").kendoWindow({
            actions: ["Close"],
            draggable: false,
            modal: true,
            visible: false,
            width: 600,
            height: 606,
            title: 'Bkash',
            resizable: false
        });
        var bkashWin = $("#divBkashWin").data("kendoWindow");
        bkashWin.refresh('@Url.Action("Bcash", "PointOfSale")?totalPrice=' + totalPrice + '&isRelease=' + isRelease + '&methodId=' + methodId + '&defaultType=' + defaultType);
        bkashWin.center().open();
    });
    $("#divBkashWin").on('click', '#btnBcashPaid', function () {
        if (bcashValidator.validate()) {
            bcashAmount = parseFloat($("#BcashPaid").val()).toFixed(2);
            bkashBodyId = $("#bodyId").val();
            bkashTransactionNo = $("#BkashTransactionNo").val();
            $("#tblPaymentType tr:last").prev().prev().before('<tr>' +
                '<td>Bkash</td>' +
                '<td><span class="amountInTransaction" data-id="3" data-bkashamount="' + bcashAmount + '" data-bkashbodyid="' + bkashBodyId + '" data-transactionno="' + bkashTransactionNo + '" >' + bcashAmount + '</span>Tk<span data-id="3" class="btnPaymentTypeCancel fa fa-times-circle pull-right"></span></td>' +
                '</tr>');
            totalPaidAmount = 0;
            $(".amountInTransaction").each(function () {
                totalPaidAmount = totalPaidAmount + parseFloat($(this).text());
            });
            remainingAmount = totalMain - totalPaidAmount;
            if (remainingAmount < 0) {
                returnAmount = totalPaidAmount - totalMain;
                $("#returnRow").css("display", "");
                $("#returnAmount").empty();
                $("#returnAmount").append(returnAmount.toFixed(2));

                $("#remainingAmount").empty();
                $("#remainingAmount").append('0.00');

                $("#btnPay").prop("disabled", false);
            }
            else {
                if (remainingAmount == 0) {
                    $("#btnPay").prop("disabled", false);
                }
                else {
                    $("#btnPay").prop("disabled", true);
                }
                $("#remainingAmount").empty();
                $("#remainingAmount").append(remainingAmount.toFixed(2));

                $("#returnRow").css("display", "none");
            }

            $("#totalPay").empty();
            $("#totalPay").append(totalPaidAmount.toFixed(2));
            $("#divBkashWin").data("kendoWindow").close();
        }
     });

    $("#btnCheck").click(function () {
         totalPaidAmount = 0;
         $(".amountInTransaction").each(function () {
             totalPaidAmount = totalPaidAmount + parseFloat($(this).text());
         });
        totalPrice = (totalMain - totalPaidAmount).toFixed(2);
        $("#divCheckWin").empty();
        $("#divCheckWin").kendoWindow({
            actions: ["Close"],
            draggable: false,
            modal: true,
            visible: false,
            width: 600,
            height: 606,
            title: 'Check',
            resizable: false
        });
        var checkWin = $("#divCheckWin").data("kendoWindow");
        checkWin.refresh('@Url.Action("Check", "PointOfSale")?totalPrice=' + totalPrice + '&methodId=' + methodId + '&defaultType=' + defaultType);
        checkWin.center().open();
    });
    $("#divCheckWin").on('click', '#btnCheckPaid', function () {
        if (checkValidator.validate()) {
            checkAmount = parseFloat($("#CheckAmount").val()).toFixed(2);
            checkBodyId = $("#CheckBodyId").val();
            checkTransactionNo = $("#CheckTransactionNo").val();
            $("#tblPaymentType tr:last").prev().prev().before('<tr>' +
                '<td>Check</td>' +
                '<td><span class="amountInTransaction" data-id="4" data-checkamount="' + checkAmount + '" data-checkbodyid="' + checkBodyId + '" data-transactionno="' + checkTransactionNo + '" >' + checkAmount + '</span>Tk<span data-id="4" class="btnPaymentTypeCancel fa fa-times-circle pull-right"></span></td>' +
                '</tr>');
            totalPaidAmount = 0;
            $(".amountInTransaction").each(function () {
                totalPaidAmount = totalPaidAmount + parseFloat($(this).text());
            });
            remainingAmount = totalMain - totalPaidAmount;
            if (remainingAmount < 0) {
                returnAmount = totalPaidAmount - totalMain;
                $("#returnRow").css("display", "");
                $("#returnAmount").empty();
                $("#returnAmount").append(returnAmount.toFixed(2));

                $("#remainingAmount").empty();
                $("#remainingAmount").append('0.00');

                $("#btnPay").prop("disabled", false);
            }
            else {
                if (remainingAmount == 0) {
                    $("#btnPay").prop("disabled", false);
                }
                else {
                    $("#btnPay").prop("disabled", true);
                }
                $("#remainingAmount").empty();
                $("#remainingAmount").append(remainingAmount.toFixed(2));

                $("#returnRow").css("display", "none");
            }
            
            $("#totalPay").empty();
            $("#totalPay").append(totalPaidAmount.toFixed(2));
            $("#divCheckWin").data("kendoWindow").close();
        }
    });

    @**************************Debit pay*****************************************@
    $("#btnDebit").click(function () {
        totalPaidAmount = 0;
        $(".amountInTransaction").each(function () {
            totalPaidAmount = totalPaidAmount + parseFloat($(this).text());
        });
        totalPaidAmount = totalPaidAmount - debitAmount;
        totalPrice = (totalMain - totalPaidAmount).toFixed(2);

        $("#divDebitWin").empty();
        $("#divDebitWin").kendoWindow({
            actions: ["Close"],
            draggable: false,
            modal: true,
            visible: false,
            width: 746,
            height: 540,
            title: 'Debit',
            resizable: false
        });
        var debitWin = $("#divDebitWin").data("kendoWindow");
        debitWin.refresh('/Inventory/SupplierDebit?totalPrice=' + totalPrice + '&debitAmount=' + debitAmount + '&availableDebitAmount=' + availableDebitAmount);
        debitWin.center().open();
    });

    $("#divDebitWin").on('click', '#btnDebitConfirm', function () {
        if (debitValidation.validate()) {
            totalPaidAmount = 0;
            debitAmount = parseFloat($("#DebitAmount").val()).toFixed(2);
            console.log(debitAmount);
            if ($("#debitamount").length == 1) {
                $("#debitamount").empty();
                $("#debitamount").append(debitAmount);
            }
            else {

                $("#tblPaymentType tr:last").prev().prev().before('<tr id="trDebitAmount">' +
                    '<td>Debit</td>' +
                    '<td><span class="amountInTransaction" data-id="5" data-debitamount="' + debitAmount + '" id="debitamount">' + debitAmount + '</span>Tk<span data-id="5" class="btnPaymentTypeCancel fa fa-times-circle pull-right"></span></td>' +
                    '</tr>');
            }
            $(".amountInTransaction").each(function () {
                totalPaidAmount = totalPaidAmount + parseFloat($(this).text());
            });

            remainingAmount = totalMain - totalPaidAmount;
            if (remainingAmount < 0) {
                returnAmount = totalPaidAmount - totalMain;
                $("#returnRow").css("display", "");
                $("#returnAmount").empty();
                $("#returnAmount").append(returnAmount.toFixed(2));

                $("#remainingAmount").empty();
                $("#remainingAmount").append('0.00');

                $("#btnPay").prop("disabled", false);
            }
            else
            {
                if (remainingAmount == 0)
                {
                    $("#btnPay").prop("disabled", false);
                }
                else
                {
                    $("#btnPay").prop("disabled", true);
                }
                $("#remainingAmount").empty();
                $("#remainingAmount").append(remainingAmount.toFixed(2));

                $("#returnRow").css("display", "none");
            }

            $("#totalPay").empty();
            $("#totalPay").append(totalPaidAmount.toFixed(2));
            $("#divDebitWin").data("kendoWindow").close();
        }
    });

    @*********************************Credit*******************************@
    $("#btnCredit").click(function () {
        totalPaidAmount = 0;
        $(".amountInTransaction").each(function () {
            totalPaidAmount = totalPaidAmount + parseFloat($(this).text());
        });
        totalPaidAmount = totalPaidAmount - creditAmount;
        totalPrice = (totalMain - totalPaidAmount).toFixed(2);
        $("#divCreditWin").empty();
        $("#divCreditWin").kendoWindow({
                actions: ["Close"],
                draggable: false,
                modal: true,
                visible: false,
                width: 600,
                height: 540,
                title: 'Credit',
                resizable: false
            });
        var creditWin = $("#divCreditWin").data("kendoWindow");
        creditWin.refresh('@Url.Action("Credit", "PointOfSale")?totalPrice=' + totalPrice + '&creditAmount=' + creditAmount);
        creditWin.center().open();
    });

    $("#divCreditWin").on('click', "#btnCreditConfirm", function () {
        if (creditValidation.validate()) {
            totalPaidAmount = 0;
            creditAmount = parseFloat($("#CreditAmount").val()).toFixed(2);
            if ($("#creditAmount").length == 1)
            {
                $("#creditAmount").empty();
                $("#creditAmount").append(creditAmount);
            }
            else
            {
                $("#tblPaymentType tr:last").prev().prev().before('<tr id="creditRow">' +
                    '<td>Credit</td>' +
                    '<td><span class="amountInTransaction" data-id="6" id="creditAmount" data-creditamount="' + creditAmount + '">' + creditAmount + '</span>Tk<span data-id="6" class="btnPaymentTypeCancel fa fa-times-circle pull-right"></span></td>' +
                    '</tr>');
            }
            totalPaidAmount = 0;
            $(".amountInTransaction").each(function () {
                totalPaidAmount = totalPaidAmount + parseFloat($(this).text());
            });

            remainingAmount = totalMain - totalPaidAmount;
            if (remainingAmount < 0) {
                returnAmount = totalPaidAmount - totalMain;
                $("#returnRow").css("display", "");
                $("#returnAmount").empty();
                $("#returnAmount").append(returnAmount.toFixed(2));

                $("#remainingAmount").empty();
                $("#remainingAmount").append('0.00');

                $("#btnPay").prop("disabled", false);
            }
            else {
                if (remainingAmount == 0) {
                    $("#btnPay").prop("disabled", false);
                }
                else {
                    $("#btnPay").prop("disabled", true);
                }
                $("#remainingAmount").empty();
                $("#remainingAmount").append(remainingAmount.toFixed(2));

                $("#returnRow").css("display", "none");
            }

            $("#totalPay").empty();
            $("#totalPay").append(totalPaidAmount.toFixed(2));
            $("#divCreditWin").data("kendoWindow").close();
        }
    });

    @**************************Payment type cancel*****************************************@
    $("#tblPaymentType").on('click', '.btnPaymentTypeCancel', function () {
        if ($(this).data("id") == 1)
        {
            cashAmount = 0;
        }
        if ($(this).data("id") == 5)
        {
            debitAmount = 0;
        }
        if ($(this).data("id") == 6)
        {
            creditAmount = 0;
        }
        $(this).parent().parent().remove();
        totalPaidAmount = 0;
        $(".amountInTransaction").each(function () {
            totalPaidAmount = totalPaidAmount + parseFloat($(this).text());
        });
        remainingAmount = totalMain - totalPaidAmount;
        if (remainingAmount < 0)
        {
            returnAmount = totalPaidAmount - totalMain;
            $("#returnRow").css("display", "");
            $("#returnAmount").empty();
            $("#returnAmount").append(returnAmount.toFixed(2));

            $("#remainingAmount").empty();
            $("#remainingAmount").append('0.00');

            $("#btnPay").prop("disabled", false);
        }
        else {
            if (remainingAmount == 0) {
                $("#btnPay").prop("disabled", false);
            }
            else {
                $("#btnPay").prop("disabled", true);
            }
            $("#remainingAmount").empty();
            $("#remainingAmount").append(remainingAmount.toFixed(2));

            $("#returnRow").css("display", "none");
        }
        
        $("#totalPay").empty();
        $("#totalPay").append(totalPaidAmount.toFixed(2));
    });
</script>

