@{
    ViewBag.Title = "DiscountItemPrint";
    Layout = "~/Views/Shared/_LayoutPrintPage.cshtml";
}
<section class="content-header" style="text-align:center;">
    <div class="row">
        <div class="col-xs-3"></div>
        <div class="col-xs-6">
            <h3>Discount Items</h3>
            <p>Sales Base</p>
        </div>
        <div class="col-xs-3">
            <button class="btn btn-default pull-right" id="btnPrint" style="margin-top:10px;"><i class="fa fa-print"></i>Print</button>
        </div>
    </div>
    <hr />
</section>
<div class="row">
    <div class="col-xs-offset-6 col-xs-6 text-left">
        <p>
            Generate By : @HttpContext.Current.Request.Cookies["CookieUserInfo"].Values["UserName"]<br>
            Generate Date : @DateTime.Now.ToString("MMM dd yyyy hh:mm:ss tt") <br>
        </p>
    </div>
    <div class="col-xs-offset-6 col-xs-6 text-right">

    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div id="divDiscItemList"></div>
    </div>
</div>
<script>
    var passdata = '';
    $(document).ready(function () {
        passdata = {
            sortTypeId: '@ViewBag.SortTypeId',
            categoryId: '@ViewBag.CategoryId',
            subCategoryId: '@ViewBag.SubCategoryId',
            sortBy: '@ViewBag.SortById',
            selectedIds: '@ViewBag.SelectedIds',
            count : '@ViewBag.Count',
            isPrint : true,
        };

        $("#divDiscItemList").empty();
        $("#divDiscItemList").append('<div class="loading_partial"></div>');
        $("#divDiscItemList").load('/Offer/DiscountList', passdata);
    });
    $("#btnPrint").click(function () {
        $("#btnPrint").hide();
        window.print();
        $("#btnPrint").show();
    });
</script>