@model PointOfSale.Models.ViewAccount
@{
    ViewBag.Title = "SalaryAccountDetails";
    Layout = "~/Views/Shared/_LayoutForTemplate.cshtml";
    PointOfSale.Models.PointOfSale_DBEntities db = new PointOfSale.Models.PointOfSale_DBEntities();
    // methodId = 2 for salary account
    int transCount = 0;
    if(db.PaymentTransactions.Any(a => a.PaymentBodyId == Model.PaymentBodyId && a.MethodId == 2 && a.Status != false))
    {
        transCount = db.PaymentTransactions.Where(a => a.PaymentBodyId == Model.PaymentBodyId && a.MethodId == 2 && a.Status != false).Count();
    }
}
@*<section class="content-header">
    <h1>
        Salary Account Details
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-money"></i> Accounts</a></li>
        <li><a href="/Accounting/PaySalary"><i class="fa fa-list-ul"></i> Payroll</a></li>
        <li><a href="#"><i class="fa fa-list-ul"></i> Salary Account</a></li>
        <li class="active">Salary Account Details</li>
    </ol>
</section>*@
<section class="content">
    <div class="panel panel-info">
        <div class="panel-heading" style="padding-bottom:46px;">
            <div class="pull-left">
                <h4 class="uppercase">ACCOUNT DETAILS</h4>
            </div>
            <div class="pull-right">
                <a class="btn btn-default" href="/Accounting/SalaryAccounts"><i class="fa fa-arrow-left"></i> Back</a>
            </div>
        </div>
        <div class="panel-body">
            <div class="col-md-4">
                <dl class="dl-horizontal">
                    <dt>Account Name</dt>
                    <dd>@Model.PaymentBodyName</dd>
                    <dt>Payment Type</dt>
                    <dd>@Model.PaymentTypeName</dd>
                    <dt>Balance</dt>
                    <dd>@Model.Balance Tk</dd>
                    <dt>Account Type</dt>
                    <dd>
                        @if (Model.InOut == 1)
                        {
                            <span>Receive</span>
                        }
                        else if (Model.InOut == 2)
                        {
                            <span>Release</span>
                        }
                        else
                        {
                            <span>Receive & Release</span>
                        }
                    </dd>
                    @if (Model.SerialNumber != null)
                    {
                        <dt>Serial Number</dt>
                        <dd>@Model.SerialNumber</dd>
                    }
                    <dt>Description</dt>
                    <dd>@Model.Description</dd>
                </dl>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <dl class="dl-horizontal">
                    <dt>Total Amount</dt>
                    <dd><span id="divTotalAmount"></span>Tk</dd>
                </dl>
            </div>
        </div>
        <hr />
        <div class="panel-body" style="padding:0px 15px 3px 15px;">
            <div class="pull-right" style="max-width: 100%!important;">
                <div class="pull-left" style="padding: 5px 10px;padding-right:5px!important;" id="show_Days_Title"></div>
                <button class="btn btn-primary btnProductDetailsPrint pull-right" style="height:32px; display:none"><i class="fa fa-print"></i></button>
                <button class="btn btn-primary btnPrint pull-right" style="height:32px;"><i class="fa fa-print"></i></button>
                <div class="btn-group btn-group-devided pull-right" data-toggle="buttons" style="padding-right:5px;">
                    <div id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
                        <span></span> <b class="caret"></b>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-body" style="padding:0px 15px;">
            <div id="divPaymentList" style="padding-top:5px;"></div>
            <div class="text-center" style="margin-bottom:10px">
                <button class="btn btn-primary" id="btnSeeMore"><i class="fa fa-arrow-down"></i> See more</button>
            </div>
        </div>
    </div>
</section>
<script id="temp_win_delete_entry" type="text/x-kendo-template">
    <div style="padding:1em;">
        <p style="font-size: 14px; padding: 10px"> #=msg# </p>
        <div style="text-align: right;">
            <button type="button" class="k-button k-button-icontext k-primary k-grid-update" id="btn_delete_Entry_noty_ok"><span class="k-icon k-update"></span>OK</button>
            <button type="button" class="k-button k-button-icontext k-grid-cancel" id="btn_delete_Entry_noty_cancel"><span class="k-icon k-cancel"></span>Cancel</button>
        </div>
    </div>
</script>
<script>
    var methodId = 0, inout = 0, day = "", transId = 0;
    var count = 20, transCount = 0;
    var days = 0, from = null, to = null;
    var passdata = '';
    var start = moment();
    var end = moment().subtract(1, 'days');
    $(document).ready(function () {
        $("#liForAccount").addClass('active');
        $("#liForPayroll").addClass('active');

        $('.ranges li').first().click();
    });
    //payment transaction delete
    $("#divPaymentList").on('click', ".btnDeletePaymentTrans", function () {
        transId = $(this).data("id");
        var kendoWindow = $("<div />").kendoWindow({
            actions: ["Close"],
            title: "Alert",
            resizable: false,
            width: "30%",
            modal: true
        });
        msg = "Are you sure want to delete this Transaction?";
        var template = kendo.template($("#temp_win_delete_entry").html());
        kendoWindow.data("kendoWindow").content(template).center().open();

        kendoWindow.find("#btn_delete_Entry_noty_cancel").click(function () {
            kendoWindow.data("kendoWindow").close();
            document.documentElement.style.overflow = "auto";
        }).end();
        kendoWindow.find("#btn_delete_Entry_noty_ok").click(function () {
            kendoWindow.data("kendoWindow").close();
            document.documentElement.style.overflow = "auto";
            deleteTransaction(transId);
        }).end();
        document.documentElement.style.overflow = "hidden";
    });

    function deleteTransaction(transId) {
        $.ajax({
            url: '@Url.Action("DeletePaymentTransaction", "Accounting")',
            type: 'Post',
            data: { transId: transId, createdBy: userId },
            success: function (data) {
                if (data === "success") {
                  $('.ranges li').first().click();
                } else {
                    alert("Delete Error...");
                }
            }
        });
    }
    function onInOutChange()
    {
        inout = this.value();
        if (from != null && to != null)
        {
            btn_CustomDate(from, to)
        }
        else if (day == "Select Date")
        {
            btn_All();
        }
        else
        {
            if (day == "Today")
            {
                btn_today();
            } else if (day == "Last 7 Days")
            {
                btn_last_seven();
            } else if (day == "Last 30 Days")
            {
                btn_last_thirty();
            }
        }
       // $('.ranges li').select.click();
    }
    @***************DateRange Start******************@
    $('#reportrange').daterangepicker({
        startDate: start,
        endDate: end,
        ranges: {
            'Select Date': [moment(), moment().subtract(1, 'days')],
            'Today': [moment(), moment()],
            'Last 7 Days': [moment().subtract(6, 'days'), moment()],
            'Last 30 Days': [moment().subtract(29, 'days'), moment()],
        }
    }, cb);
    cb(start, end);
    start = moment(); end = moment();
    $(".applyBtn").click(function () {
        from = $("input[name*='daterangepicker_start']").val();
        to = $("input[name*='daterangepicker_end']").val();
        btn_CustomDate(from, to);
    });

    $('.ranges').on("click", "li", function () {
        day = $(this).text();

        if (day == "Select Date")
        {
            btn_All();
        }
        else {
            if (day == "Today") {
                btn_today();
            } else if (day == "Last 7 Days") {
                btn_last_seven();
            } else if (day == "Last 30 Days") {
                btn_last_thirty();
            }
        }
    });
    function cb(start, end) {
        if (start == null && end == null) {
            $('#reportrange span').html("Select Date");
            return;
        }
        else if ((!start._isValid && !end._isValid)) {
            $('#reportrange span').html("Select Date");
            return;
        } else if (start._d > end._d) {
            $('#reportrange span').html("Select Date");
            return;
        }
        $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
    }
    function btn_today()
    {
        days = 1;
        from = null;
        to = null;
        $(".btnPrint").prop("disabled", false);
        $("#btnSeeMore").hide();
        $('#show_Days_Title').html("Today");
        passdata = { days: 1, accId: @Model.PaymentBodyId };
        $("#divPaymentList").empty();
        $("#divPaymentList").append('<div class="loading_partial"></div>');
        $("#divPaymentList").load('@Url.Action("SalaryPaymentTransaction", "Accounting")', passdata);
    }
    function btn_last_seven()
    {
        days = 7;
        from = null;
        to = null;
        $(".btnPrint").prop("disabled", false);
        $("#btnSeeMore").hide();
        $('#show_Days_Title').html("Last 7 Days");
        passdata = { days: 7, accId: @Model.PaymentBodyId };
        $("#divPaymentList").empty();
        $("#divPaymentList").append('<div class="loading_partial"></div>');
        $("#divPaymentList").load('@Url.Action("SalaryPaymentTransaction", "Accounting")', passdata);
    }
    function btn_last_thirty()
    {
        days = 30;
        from = null;
        to = null;
        $(".btnPrint").prop("disabled", false);
        $("#btnSeeMore").hide();
        $('#show_Days_Title').html("Last 30 Days");
        passdata = { days: 30, accId: @Model.PaymentBodyId };
        $("#divPaymentList").empty();
        $("#divPaymentList").append('<div class="loading_partial"></div>');
        $("#divPaymentList").load('@Url.Action("SalaryPaymentTransaction", "Accounting")', passdata);
    }
    function btn_All()
    {
        days = 0;
        from = null;
        to = null;
        count = 20;
        $(".btnPrint").prop("disabled", true);
        $("#btnSeeMore").hide();
        $('#show_Days_Title').html("");
        $('#reportrange span').html("Select Date");
        passdata = { accId: @Model.PaymentBodyId, count: count};
        if (@transCount > count)
        {
            $("#btnSeeMore").show();
        }
        $("#divPaymentList").empty();
        $("#divPaymentList").append('<div class="loading_partial"></div>');
        $("#divPaymentList").load('@Url.Action("SalaryPaymentTransaction", "Accounting")', passdata);
    }
    function btn_CustomDate(from, to)
    {
        days = 0;
        $(".btnPrint").prop("disabled", false);
        $("#btnSeeMore").hide();
        passdata = { from: new Date(from).toISOString(), to: new Date(to).toISOString(), accId: @Model.PaymentBodyId};
        $('#show_Days_Title').html("Custom Range");
        $("#divPaymentList").empty();
        $("#divPaymentList").append('<div class="loading_partial"></div>');
        $("#divPaymentList").load('@Url.Action("SalaryPaymentTransaction", "Accounting")', passdata);
    }
    @***************DateRange End******************@
    //Payment transaction Print
    $(".btnPrint").click(function () {
        var data = "accId=" + @Model.PaymentBodyId + "?days=" + days + "?from=" + from + "?to=" + to;
        window.open('@Url.Action("SalaryPaymentTransactionPrint", "Accounting")?q=' + getDataEncrypted(data), '_blank');
    });
     //See more data
    $("#btnSeeMore").click(function () {
        count = count + 20;
        passdata = { accId: @Model.PaymentBodyId, count: count };
        if (count >= @transCount)
        {
            $("#btnSeeMore").hide();
        }
        $("#divPaymentList").empty();
        $("#divPaymentList").append('<div class="loading_partial"></div>');
        $("#divPaymentList").load('@Url.Action("SalaryPaymentTransaction", "Accounting")', passdata);
    });



</script>