@model IEnumerable<PointOfSale.ModelViews.Accounting.EmpSalaryXmlModelView>
@using PointOfSale.Helpers
@using System.Globalization
@{
    var count = 0;
}
<style>
    .dl-horizontal {
        margin:0;
    }
    .stamp{
        width:150px;
    }
    label{
        margin-right: 10px;
        width:94px;
        text-align:right;
    }
</style>
@if (Model.Any())
{
    if (ViewBag.isReceiptPrint == true)
    {
        //receive sheet list
        <table class="table table-bordered table-hover table-responsive table-condensed table-striped">
            <tr>
                <th>SL.</th>
                <th>Emp-Info</th>
                <th>Salary</th>
                <th>Signature</th>
                <th>Emp-Info</th>
                <th width="120px">Seal</th>
            </tr> 
            @foreach (var list in Model)
            {
                count++;
                <tr>
                    <td>@count. </td>
                    <td>
                        <label>Name</label>@list.EmpName<br />
                        <label>Salary(Monthly)</label>@list.ActualSalary.ToString("C", new CultureInfo("bn-BD"))<br />
                        <label>Present</label>@list.TotalPresent<br />
                        <label>Paid Leave</label>@list.TotalPaidLeave<br />
                        <label>Working Days</label>@list.TotalWorkingDays<br />
                        <label>Holiday</label>@list.TotalHoliday<br />
                    </td>
                    <td>
                        @list.TotalAmount.ToString("C", new CultureInfo("bn-BD"))
                    </td>
                    <td></td>
                    <td>
                        <label>Name</label>@list.EmpName<br />
                        <label>Salary(Monthly)</label>@list.ActualSalary.ToString("C", new CultureInfo("bn-BD"))<br />
                        <label>Salary to pay</label>@list.TotalAmount.ToString("C", new CultureInfo("bn-BD"))<br />
                        <label>Present</label>@list.TotalPresent<br />
                        <label>Paid Leave</label>@list.TotalPaidLeave<br />
                        <label>Working Days</label>@list.TotalWorkingDays<br />
                        <label>Holiday</label>@list.TotalHoliday<br />
                    </td>
                    <td></td>
                </tr>
             }
        </table>
    }
    else
    {
        //paysheet list
        <table class="table table-bordered table-hover table-responsive table-condensed table-striped">
            <tr>
                <th>SL.</th>
                <th>Name</th>
                <th>Salary</th>
                <th>Salary To Pay</th>
                <th>Present</th>
                <th>Paid Leave</th>
                <th>Working Days</th>
                <th>Holiday</th>
                @if (ViewBag.IsPrint == true)
                {
                    <th>Signature</th>
                }
            </tr>
            @foreach (var list in Model)
            {
                count++;
                <tr>
                    <td>@count. </td>
                    <td>
                        <span>@list.EmpName</span>
                    </td>
                    <td>@list.ActualSalary.ToString("C", new CultureInfo("bn-BD"))</td>
                    <td>@list.TotalAmount.ToString("C", new CultureInfo("bn-BD"))</td>
                    <td>@list.TotalPresent</td>
                    <td>@list.TotalPaidLeave</td>
                    <td>@list.TotalWorkingDays</td>
                    <td>@list.TotalHoliday</td>
                    @if (ViewBag.IsPrint == true)
                     {
                        <td></td>
                        @*<td>
                            <button class="btn btn-primary btnEmpSalaryEdit" data-id="@list.Id" data-toggle="tooltip" title="Edit employee salary Info"><i class="fa fa-pencil-square-o"></i></button>
                        </td>*@
                     }
                </tr>
            }
            <tr style="font-weight:bold">
                <td></td>
                <td colspan="2" style="text-align:center">Total</td>
                <td>@Model.Sum(a => a.TotalAmount).ToString("C", new CultureInfo("bn-BD"))</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                @if (ViewBag.IsPrint == true)
                {
                    <td></td>
                        @*<td>
                    <button class="btn btn-primary btnEmpSalaryEdit" data-id="@list.Id" data-toggle="tooltip" title="Edit employee salary Info"><i class="fa fa-pencil-square-o"></i></button>
                </td>*@
                }
            </tr>
        </table>
    }

}
else
{
    <h4>There is no record to display</h4>
}
<script>
    $('[data-toggle="tooltip"]').tooltip();
</script>



