@{ 
    ViewBag.Title = "AttendanceLog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="panel panel-default" style="margin-top:20px;">
    <div class="panel-heading" style="padding-bottom:46px;">
        <div class="pull-left">
            <h4>ALL ATTENDENCE LOG</h4>
        </div>
        <div class="pull-right">
            <a class="btn btn-default" href="/Attendance/Attendance"><i class="fa fa-arrow-left"></i> Back</a>
        </div>
    </div>
    <div class="panel-body">
        <div class="panel-body" style="padding:10px 15px 0px 15px;">
            <div class="pull-left" style="width:48%!important;">
                @(Html.Kendo().MultiSelect()
                .Name("UserMultiselect")
                .DataTextField("Text")
                .DataValueField("Value")
                .Placeholder("Type User name...")
                .Events(e => e.Change("onChangeUser"))
                .HtmlAttributes(new { style = "width: 100%;" })
                .BindTo(ViewBag.UserList as SelectList)
                )
                <span class="k-icon k-i-search" style="margin-top:-25px;float:right;margin-right:10px; position:relative">&nbsp;</span>
            </div>
            <div class="pull-right" style="max-width: 48%!important;">
                <div class="pull-left" style="padding: 5px 10px;padding-right:5px!important;" id="show_Days_Title"></div>
                <button class="btn btn-primary btnPrint pull-right" style="height:31px;"><i class="fa fa-print"></i></button>
                <div class="btn-group btn-group-devided pull-right" data-toggle="buttons" style="padding-right:5px;">
                    <div id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
                        <span></span> <b class="caret"></b>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-heading">
            <ul class="nav nav-tabs StatusTab">
                <li class="active" id="liForAll"><a href="#tab1liForAll" data-toggle="tab">All</a></li>
                <li id="liForPresent"><a href="#tab2liForPresent" data-toggle="tab">Present</a></li>
                <li id="liForAbsent"><a href="#tab3liForAbsent" data-toggle="tab">Absent</a></li>
                <li id="liForLeave"><a href="#tab4liForLeave" data-toggle="tab">Leave</a></li>
            </ul>
        </div>
        <div class="panel-body">
            <div class="tab-content">
                <div class="tab-pane fade in active" id="tab1liForAll">
                    <div id="div_All"></div>
                </div>
                <div id="tab2liForPresent" class="tab-pane fade">
                    <div id="div_Present"></div>
                </div>
                <div id="tab3liForAbsent">
                    <div id="div_Absent"></div>
                </div>
                <div id="tab4liForLeave">
                    <div id="div_Leave"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var tab = 0, attType = 0, selectedUserId = "";
    var days = 0, from = null, to = null;
    var passdata = '';
    var start = moment();
    var end = moment().subtract(1, 'days');
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
        $(".btnPrint").prop("disabled", true);
        $("#liForAll").click();
    });
    function clearBeforeClick()
    {
        $("#div_All").empty();
        $("#div_Present").empty();
        $("#div_Absent").empty();
        $("#div_Leave").empty();
    }
    $("#liForAll").click(function () {
        $("#UserMultiselect").data("kendoMultiSelect").value("");
        tab = 1;
        attType = 0;
        clearBeforeClick();
        $('.ranges li').first().click();
    });

    $("#liForPresent").click(function () {
        $("#UserMultiselect").data("kendoMultiSelect").value("");
        clearBeforeClick();
        tab = 2; attType = 1;
        $('.ranges li').first().click();
    });

    $("#liForAbsent").click(function () {
        $("#UserMultiselect").data("kendoMultiSelect").value("");
        clearBeforeClick();
        tab = 3; attType = 2;
        $('.ranges li').first().click();
    });
    $("#liForLeave").click(function () {
        $("#UserMultiselect").data("kendoMultiSelect").value("");
        clearBeforeClick();
        tab = 4; attType = 3;
        $('.ranges li').first().click();
    });

    function onChangeUser()
    {
        selectedUserId = "";
        selectedUserId = this.value();
        $('.ranges li').first().click();
    }


    @***************DateRange Start******************@
    $('#reportrange').daterangepicker({
        startDate: start,
        endDate: end,
        ranges: {
            'Select Date': [moment(), moment().subtract(1, 'days')],
            'Today': [moment(), moment()],
            'Last 7 Days': [moment().subtract(6, 'days'), moment()],
            'Last 30 Days': [moment().subtract(29, 'days'), moment()],
        }
    }, cb);
    cb(start, end);
    start = moment(); end = moment();
    $(".applyBtn").click(function () {
        from = $("input[name*='daterangepicker_start']").val();
        to = $("input[name*='daterangepicker_end']").val();
        btn_CustomDate(from, to);
    });

    $('.ranges').on("click", "li", function () {
        var day = $(this).text();
        if (day == "Select Date") {
            btn_All();
        } else {
            if (day == "Today") {
                btn_today();
            } else if (day == "Last 7 Days") {
                btn_last_seven();
            } else if (day == "Last 30 Days") {
                btn_last_thirty();
            }
        }
    });
    function cb(start, end) {
        if (start == null && end == null) {
            $('#reportrange span').html("Select Date");
            return;
        }
        else if ((!start._isValid && !end._isValid)) {
            $('#reportrange span').html("Select Date");
            return;
        } else if (start._d > end._d) {
            $('#reportrange span').html("Select Date");
            return;
        }
        $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
    }
    function btn_today() {
        days = 1;
        from = null;
        to = null;
        $(".btnPrint").prop("disabled", false);
        $('#show_Days_Title').html("Today");
        if (tab == 1)
        {
            clearBeforeClick();
            $("#div_All").append('<div class="loading_partial"></div>');
            $("#div_All").load('@Url.Action("AttendanceLogList", "Attendance")?selectedUser=' + selectedUserId + '&days=' + days);
        }
        else if (tab == 2)
        {
            clearBeforeClick();
            $("#div_Present").append('<div class="loading_partial"></div>');
            $("#div_Present").load('@Url.Action("AttendanceLogList", "Attendance")?selectedUser=' + selectedUserId + "&attType=" + attType + '&days=' + days);
        }
        else if (tab == 3)
        {
            clearBeforeClick();
            $("#div_Absent").append('<div class="loading_partial"></div>');
            $("#div_Absent").load('@Url.Action("AttendanceLogList", "Attendance")?selectedUser=' + selectedUserId + "&attType=" + attType + '&days=' + days);
        }
        else if (tab == 4)
        {
            clearBeforeClick();
            $("#div_Leave").append('<div class="loading_partial"></div>');
            $("#div_Leave").load('@Url.Action("AttendanceLogList", "Attendance")?selectedUser=' + selectedUserId + "&attType=" + attType + '&days=' + days);
        }
    }
    function btn_last_seven() {
        days = 7;
        from = null;
        to = null;
        $(".btnPrint").prop("disabled", false);
        $("#btnSeeMore").hide();
        $('#show_Days_Title').html("Last 7 Days");
        if (tab == 1)
        {
            clearBeforeClick();
            $("#div_All").append('<div class="loading_partial"></div>');
            $("#div_All").load('@Url.Action("AttendanceLogList", "Attendance")?selectedUser=' + selectedUserId + '&days=' + days);
        }
        else if (tab == 2)
        {
            clearBeforeClick();
            $("#div_Present").append('<div class="loading_partial"></div>');
            $("#div_Present").load('@Url.Action("AttendanceLogList", "Attendance")?selectedUser=' + selectedUserId + "&attType=" + attType + '&days=' + days);
        }
        else if (tab == 3)
        {
            clearBeforeClick();
            $("#div_Absent").append('<div class="loading_partial"></div>');
            $("#div_Absent").load('@Url.Action("AttendanceLogList", "Attendance")?selectedUser=' + selectedUserId + "&attType=" + attType + '&days=' + days);
        }
        else if (tab == 4)
        {
            clearBeforeClick();
            $("#div_Leave").append('<div class="loading_partial"></div>');
            $("#div_Leave").load('@Url.Action("AttendanceLogList", "Attendance")?selectedUser=' + selectedUserId + "&attType=" + attType + '&days=' + days);
        }
    }
    function btn_last_thirty() {
        days = 30;
        from = null;
        to = null;
        $(".btnPrint").prop("disabled", false);
        $('#show_Days_Title').html("Last 30 Days");
        if (tab == 1)
        {
            clearBeforeClick();
            $("#div_All").append('<div class="loading_partial"></div>');
            $("#div_All").load('@Url.Action("AttendanceLogList", "Attendance")?selectedUser=' + selectedUserId + '&days=' + days);
        }
        else if (tab == 2)
        {
            clearBeforeClick();
            $("#div_Present").append('<div class="loading_partial"></div>');
            $("#div_Present").load('@Url.Action("AttendanceLogList", "Attendance")?selectedUser=' + selectedUserId + "&attType=" + attType + '&days=' + days);
        }
        else if (tab == 3)
        {
            clearBeforeClick();
            $("#div_Absent").append('<div class="loading_partial"></div>');
            $("#div_Absent").load('@Url.Action("AttendanceLogList", "Attendance")?selectedUser=' + selectedUserId + "&attType=" + attType + '&days=' + days);
        }
        else if (tab == 4)
        {
            clearBeforeClick();
            $("#div_Leave").append('<div class="loading_partial"></div>');
            $("#div_Leave").load('@Url.Action("AttendanceLogList", "Attendance")?selectedUser=' + selectedUserId + "&attType=" + attType + '&days=' + days);
        }
    }
    function btn_All() {
        days = 0;
        from = null;
        to = null;
        $(".btnPrint").prop("disabled", true);
        $('#show_Days_Title').html("");
        $('#reportrange span').html("Select Date");
        if (tab == 1)
        {
            clearBeforeClick();
            $("#div_All").append('<div class="loading_partial"></div>');
            $("#div_All").load('@Url.Action("AttendanceLogList", "Attendance")?selectedUser=' + selectedUserId);
        }
        else if (tab == 2)
        {
            clearBeforeClick();
            $("#div_Present").append('<div class="loading_partial"></div>');
            $("#div_Present").load('@Url.Action("AttendanceLogList", "Attendance")?selectedUser=' + selectedUserId + "&attType=" + attType);
        }
        else if (tab == 3)
        {
            clearBeforeClick();
            $("#div_Absent").append('<div class="loading_partial"></div>');
            $("#div_Absent").load('@Url.Action("AttendanceLogList", "Attendance")?selectedUser=' + selectedUserId + "&attType=" + attType);
        }
        else if (tab == 4)
        {
            clearBeforeClick();
            $("#div_Leave").append('<div class="loading_partial"></div>');
            $("#div_Leave").load('@Url.Action("AttendanceLogList", "Attendance")?selectedUser=' + selectedUserId + "&attType=" + attType);
        }
    }
    function btn_CustomDate(from, to) {
        days = 0;
        $(".btnPrint").prop("disabled", false);
        if (tab == 1)
        {
            clearBeforeClick();
            $("#div_All").append('<div class="loading_partial"></div>');
            $("#div_All").load('@Url.Action("AttendanceLogList", "Attendance")?selectedUser=' + selectedUserId + '&from=' + new Date(from).toISOString() + '&to=' + new Date(to).toISOString() );
        }
        else if (tab == 2)
        {
            clearBeforeClick();
            $("#div_Present").append('<div class="loading_partial"></div>');
            $("#div_Present").load('@Url.Action("AttendanceLogList", "Attendance")?selectedUser=' + selectedUserId + "&attType=" + attType + '&from=' + new Date(from).toISOString() + '&to=' + new Date(to).toISOString());
        }
        else if (tab == 3)
        {
            clearBeforeClick();
            $("#div_Absent").append('<div class="loading_partial"></div>');
            $("#div_Absent").load('@Url.Action("AttendanceLogList", "Attendance")?selectedUser=' + selectedUserId + "&attType=" + attType + '&from=' + new Date(from).toISOString() + '&to=' + new Date(to).toISOString());
        }
        else if (tab == 4)
        {
            clearBeforeClick();
            $("#div_Leave").append('<div class="loading_partial"></div>');
            $("#div_Leave").load('@Url.Action("AttendanceLogList", "Attendance")?selectedUser=' + selectedUserId + "&attType=" + attType + '&from=' + new Date(from).toISOString() + '&to=' + new Date(to).toISOString());
        }
        $('#show_Days_Title').html("Custom Range");
    }
    @***************DateRange End******************@
    //Attendance Info Print
    $(".btnPrint").click(function () {
        var data = "selectedUser=" + selectedUserId + "?days=" + days + "?from=" + from + "?to=" + to + "?attType=" + attType;
        window.open('@Url.Action("AttendanceHistoryPrint", "Attendance")?q=' + getDataEncrypted(data), '_blank');
    });
</script>
