@model PointOfSale.ModelViews.SupplierModel
@Html.HiddenFor(m => m.SupplierId)
<div class="editor-label"><label for="ShopName">Shop Name</label></div>
<div class="editor-field">
    @Html.EditorFor(model => model.Name, new { htmlattributes = new { @class = "k-textbox form-control", style = "width:100%; max-width:100%" } })
    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-Danger" })
</div>
<div class="editor-label"><label for="Phone">Phone</label></div>
<div class="editor-field">
    @Html.EditorFor(model => model.Phone, new { htmlattributes = new { @class = "k-textbox form-control", style = "width:100%; max-width:100%" } })
    @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-Danger" })
</div>
<div class="editor-label"><label for="Address">Address</label></div>
<div class="editor-field">
    @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "k-textbox form-control", rows = 3, style = "width:100%; max-width:100%" } })
    @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-Danger" })
</div>
