<div class="k-edit-form-container col-lg-11 col-md-10 col-sm-11 col-xs-10" id="" style="margin-bottom:4%;margin-top:2%;">
    <div id="divAssociateForm"></div>
    <div class="k-edit-buttons k-state-default" style="margin-left:30px;">
        @if (ViewBag.Id > 0)
        {
            <button type="button" class="k-button k-button-icontext k-primary k-grid-update" id="btnAssociateCreate"><span class="k-icon k-update"></span>Update</button>
        }
        else
        {
            <button type="button" class="k-button k-button-icontext k-primary k-grid-update" id="btnAssociateCreate"><span class="k-icon k-update"></span>Create</button>
        }
        <button type="reset" class="k-button k-button-icontext k-grid-update" id="btnAssociateRefresh"><span class="k-icon k-i-refresh"></span>Refresh</button>
        <button type="button" class="k-button k-button-icontext k-grid-cancel" id="btnAssociateCancel"><span class="k-icon k-cancel"></span>Cancel</button>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#divAssociateForm").append('<div class="tiny_loading"></div>');
        $("#divAssociateForm").load('@Url.Action("AssociateCreatePartial", "Configuration")?id=' + '@ViewBag.Id');
    });
    $("#btnAssociateRefresh").click(function () {
        $("#divAssociateForm").empty();
        $("#divAssociateForm").append('<div class="tiny_loading"></div>');
        $("#divAssociateForm").load('@Url.Action("AssociateCreatePartial", "Configuration")?id=' + '@ViewBag.Id');
    });

    $("#btnAssociateCancel").click(function () {
        $(this).closest(".k-window-content").data("kendoWindow").close();
    });
    var validation = $("#divAssociateForm").kendoValidator({
    }).data("kendoValidator");
    $("#btnAssociateCreate").click(function () {
        if (validation.validate()) {

            $(this).prop('disabled', true);

            var sendData = {
                SupplierId: $("#SupplierId").val(),
                Name: $.trim($("#Name").val()),
                Phone: $.trim($("#Phone").val()),
                Address: $.trim($("#Address").val()),
                CreatedBy: userId
            }
            $.ajax({
                url: '@Url.Action("AssociateSave", "Configuration")',
                type: "POST",
                data: sendData,
                success: function (data) {
                    if (data == "success") {
                        $("#divAssociateWin").data("kendoWindow").close();
                        if (tab == 1)
                        {
                            $("#div_All").empty();
                            $("#div_All").append('<div class="loading_partial"></div>');
                            $("#div_All").load('@Url.Action("AssociateList", "Configuration")');
                        }
                        else if (tab == 2)
                        {
                            status = 1;
                            passdata = { status: status };
                            $("#div_Active").append('<div class="loading_partial"></div>');
                            $("#div_Active").load('@Url.Action("AssociateList", "Configuration")', passdata);
                        }
                        else if (tab == 3)
                        {
                            status = 0;
                            passdata = { status: status};
                            $("#div_Inactive").append('<div class="loading_partial"></div>');
                            $("#div_Inactive").load('@Url.Action("AssociateList", "Configuration")', passdata);
                        }
                        else if (tab == 4)
                        {
                            status = 2;
                            passdata = { status: status };
                            $("#div_Deleted").append('<div class="loading_partial"></div>');
                            $("#div_Deleted").load('@Url.Action("AssociateList", "Configuration")', passdata);
                        }
                    }
                    else
                    {
                        alert("Save Error");
                    }
                }
            });
        }
    });
</script>

