@{
    ViewBag.Title = "CustomerInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Customer</h2>
<hr />
<button class="btn btn-default" id="btnCustomerCreateWindow" style="margin-bottom:5px;"><i class="fa fa-plus-circle" aria-hidden="true"></i> Add</button>
<div class="row">
    <div class="col-md-12">
        <div id="divCustomerList"></div>
    </div>
</div>
<div id="divCustomerWindow"></div>
<script id="temp_win_delete_entry" type="text/x-kendo-template">
    <div style="padding:1em;">
        <p style="font-size: 14px; padding: 10px"> #=msg# </p>
        <div style="text-align: right;">
            <button type="button" class="k-button k-button-icontext k-primary k-grid-update" id="btn_delete_Entry_noty_ok"><span class="k-icon k-update"></span>OK</button>
            <button type="button" class="k-button k-button-icontext k-grid-cancel" id="btn_delete_Entry_noty_cancel"><span class="k-icon k-cancel"></span>Cancel</button>
        </div>
    </div>
</script>
<script>
    $(document).ready(function () {
        $("#divCustomerList").empty();
        $("#divCustomerList").append('<div class="loading_partial"></div>');
        $("#divCustomerList").load('@Url.Action("CustomerList","Configuration")');
    });
    $("#btnCustomerCreateWindow").click(function () {
        $("#divCustomerWindow").empty();
        $("#divCustomerWindow").kendoWindow({
            actions: ["Close"],
            draggable: false,
            modal: true,
            visible: false,
            width: 638,
            height: 412,
            title: 'Customer',
            resizable: false
        });
        var customerWindow = $("#divCustomerWindow").data("kendoWindow");
        customerWindow.refresh('@Url.Action("CustomerCreate", "Configuration")');
        customerWindow.center().open();
    });

    $("#divCustomerList").on('click', ".btnCustomerEdit", function () {
        var customerId = $(this).data("id");
        $("#divCustomerWindow").empty();
        $("#divCustomerWindow").kendoWindow({
            actions: ["Close"],
            draggable: false,
            modal: true,
            visible: false,
            width: 638,
            height: 412,
            title: 'Customer',
            resizable: false
        });
        var customerWindow = $("#divCustomerWindow").data("kendoWindow");
        customerWindow.refresh('@Url.Action("CustomerCreate", "Configuration")?id=' + customerId);
        customerWindow.center().open();
    });

    $("#divCustomerList").on('click', ".btnCustomerDelete", function () {
        var customerId = $(this).data("id");
        var kendoWindow = $("<div />").kendoWindow({
            actions: ["Close"],
            title: "Alert",
            resizable: false,
            width: "30%",
            modal: true
        });

        msg = "Are you sure want to delete this Customer?";
        var template = kendo.template($("#temp_win_delete_entry").html());
        kendoWindow.data("kendoWindow").content(template).center().open();

        kendoWindow.find("#btn_delete_Entry_noty_cancel").click(function () {
            kendoWindow.data("kendoWindow").close();
            document.documentElement.style.overflow = "auto";
        }).end();
        kendoWindow.find("#btn_delete_Entry_noty_ok").click(function () {
            kendoWindow.data("kendoWindow").close();
            document.documentElement.style.overflow = "auto";
            deleteCustomer(customerId);
        }).end();
        document.documentElement.style.overflow = "hidden";
    });

    function deleteCustomer(customerId) {
        $.ajax({
            url: '@Url.Action("DeleteCustomer", "Configuration")',
            type: 'Post',
            data: { customerId: customerId },
            success: function (data) {
                if (data === "success") {
                    $("#divCustomerList").empty();
                    $("#divCustomerList").append('<div class="loading_partial"></div>');
                    $("#divCustomerList").load('@Url.Action("CustomerList", "Configuration")');
                } else {
                    alert("Customer Delete Error...");
                }
            }
        });
    }

    $("#divCustomerList").on("click", ".activateCustomer,.inactivateCustomer", function () {
        var id = $(this).data("id");
        var status = $(this).data("isactive");
        var sendData = {
            id: id,
            status: status
        };
        $.ajax({
            url: '@Url.Action("ChangeCustomerStatus", "Configuration")',
            method: 'POST',
            data: sendData,
            success: function (res) {
                if (res == "success") {
                    $("#divCustomerList").empty();
                    $("#divCustomerList").append('<div class="loading_partial"></div>');
                    $("#divCustomerList").load('@Url.Action("CustomerList", "Configuration")');
                }
                else {
                    alert("Error Status Update");
                }
            }
        });
    });
</script>



