@{
    ViewBag.Title = "PaymentBody";
    Layout = "~/Views/Shared/_LayoutForTemplate.cshtml";
}
@*<section class="content-header">
    <h1>
        Accounts
    </h1>
    <ol class="breadcrumb">
        <li><a href="/Configuration/PaymentBody"><i class="fa fa-money"></i> Accounts</a></li>
        <li class="active">Account List</li>
    </ol>
</section>*@
<section class="content">
    <div class="panel panel-info">
        <div class="panel-heading" style="padding-bottom:46px;">
            <div class="pull-left">
                <h4>Account List</h4>
            </div>
            @*<div class="pull-right">
                <a class="btn btn-default" href="/Accounting/PaySalary"><i class="fa fa-arrow-left"></i> Back</a>
            </div>*@
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    @*@Html.ActionLink("Payroll", "PaySalary", "Accounting", routeValues: null, htmlAttributes: new { @class = "btn btn-default" })*@
                    @*@Html.ActionLink("Sales/Purchage Ledger", "SalesAndPurchaseLedger", "Accounting", routeValues: null, htmlAttributes: new { @class = "btn btn-default" })*@
                    @*<button class="btn btn-default" id="btnSaleOrPurchaseLedger">Sales/Purchase Ledger</button>*@
                    @*<button class="btn btn-default" id="btnCreditLedger">Credit Ledger</button>*@
                    @*<br />*@
                    <button class="btn btn-success" id="btnPaymentBodyCreateWin" style="margin:15px 0 5px 0"><i class="fa fa-plus-circle" aria-hidden="true"></i> Add</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div id="divPaymentBodyList"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<div id="divPaymentBodyWin"></div>
<div id="divSaleOrPurchaseWin"></div>
<div id="divCreditLedgerWin"></div>
<script id="temp_win_delete_entry" type="text/x-kendo-template">
    <div style="padding:1em;">
        <p style="font-size: 14px; padding: 10px"> #=msg# </p>
        <div style="text-align: right;">
            <button type="button" class="k-button k-button-icontext k-primary k-grid-update" id="btn_delete_Entry_noty_ok"><span class="k-icon k-update"></span>OK</button>
            <button type="button" class="k-button k-button-icontext k-grid-cancel" id="btn_delete_Entry_noty_cancel"><span class="k-icon k-cancel"></span>Cancel</button>
        </div>
    </div>
</script>

<script>
    var paymentBodyId = 0;
    $(document).ready(function () {
        $("#liForAccount").addClass('active');
        $("#liForAccountConfig").addClass('active');
        $("#liForPaymentBody").addClass('active');

        $("#divPaymentBodyList").empty();
        $("#divPaymentBodyList").append('<div class="loading_partial"></div>');
        $("#divPaymentBodyList").load('@Url.Action("PaymentBodyList","Configuration")');
    });

    $("#btnPaymentBodyCreateWin").click(function () {
        $("#divPaymentBodyWin").empty();
        $("#divPaymentBodyWin").kendoWindow({
            actions: ["Close"],
            draggable: false,
            modal: true,
            visible: false,
            width: 600,
            height: 400,
            title: 'Payment Body',
            resizable: false
        });
        var paymentBodyWin = $("#divPaymentBodyWin").data("kendoWindow");
        paymentBodyWin.refresh('@Url.Action("PaymentBodyCreate", "Configuration")');
        paymentBodyWin.center().open();
    });

    $("#divPaymentBodyList").on('click', '.btnPaymentBodyEdit', function () {
        paymentBodyId = $(this).data("id");
        $("#divPaymentBodyWin").empty();
        $("#divPaymentBodyWin").kendoWindow({
            actions: ["Close"],
            draggable: false,
            modal: true,
            visible: false,
            width: 600,
            height: 400,
            title: 'Payment Body',
            resizable: false
        });
        var paymentBodyWin = $("#divPaymentBodyWin").data("kendoWindow");
        paymentBodyWin.refresh('@Url.Action("PaymentBodyCreate", "Configuration")?id=' + paymentBodyId);
        paymentBodyWin.center().open();
    });

    $("#divPaymentBodyList").on('click', ".btnPaymentBodyDelete", function () {
        paymentBodyId = $(this).data("id");
        var kendoWindow = $("<div />").kendoWindow({
            actions: ["Close"],
            title: "Alert",
            resizable: false,
            width: "30%",
            modal: true
        });

        msg = "Are you sure want to delete this payment body?";
        var template = kendo.template($("#temp_win_delete_entry").html());
        kendoWindow.data("kendoWindow").content(template).center().open();

        kendoWindow.find("#btn_delete_Entry_noty_cancel").click(function () {
            kendoWindow.data("kendoWindow").close();
            document.documentElement.style.overflow = "auto";
        }).end();
        kendoWindow.find("#btn_delete_Entry_noty_ok").click(function () {
            kendoWindow.data("kendoWindow").close();
            document.documentElement.style.overflow = "auto";
            deletePaymentBody(paymentBodyId);
        }).end();
        document.documentElement.style.overflow = "hidden";
    });

    function deletePaymentBody(paymentBodyId) {
        $.ajax({
            url: '@Url.Action("DeletePaymentBody", "Configuration")',
            type: 'Post',
            data: { paymentBodyId: paymentBodyId },
            success: function (data) {
                if (data === "success") {
                    $("#divPaymentBodyList").empty();
                    $("#divPaymentBodyList").append('<div class="loading_partial"></div>');
                    $("#divPaymentBodyList").load('@Url.Action("PaymentBodyList", "Configuration")');
                } else {
                    alert("Payment body Delete Error...");
                }
            }
        });
    }
    $("#divPaymentBodyList").on("click", ".inactivatePaymentBody,.activatePaymenBody", function () {
        var id = $(this).data("id");
        var status = $(this).data("isactive");
        var sendData = {
            id: id,
            status: status,
            userId : userId
        };
        $.ajax({
            url: '@Url.Action("ChangePaymentBodyStatus", "Configuration")',
            method: 'POST',
            data: sendData,
            success: function (res) {
                if (res == "success") {
                    $("#divPaymentBodyList").empty();
                    $("#divPaymentBodyList").append('<div class="loading_partial"></div>');
                    $("#divPaymentBodyList").load('@Url.Action("PaymentBodyList", "Configuration")');
                }
                else if (res == true)
                {
                    alert("This account is default. You can't inactivate this Account");
                }
                else {
                    alert("Error Status Update");
                }
            }
        });
    });


    //Sale or purchase ledger
    $("#btnSaleOrPurchaseLedger").click(function () {
        $("#divSaleOrPurchaseWin").empty();
        $("#divSaleOrPurchaseWin").kendoWindow({
            actions: ["Close"],
            draggable: false,
            modal: true,
            visible: false,
            width: 638,
            height: 225,
            title: 'Sale/Purchase Ledger',
            resizable: false
        });
        var ledgerWin = $("#divSaleOrPurchaseWin").data("kendoWindow");
        ledgerWin.refresh('@Url.Action("SaleOrPurchaseLedgerWin", "Accounting")');
        ledgerWin.center().open();
    });

    //Credit ledger
    $("#btnCreditLedger").click(function () {
         $("#divCreditLedgerWin").empty();
         $("#divCreditLedgerWin").kendoWindow({
            actions: ["Close"],
            draggable: false,
            modal: true,
            visible: false,
            width: 638,
            height: 225,
            title: 'Credit Ledger',
            resizable: false
        });
        var ledgerWin = $("#divCreditLedgerWin").data("kendoWindow");
        ledgerWin.refresh('@Url.Action("CreditLedger", "Accounting")');
        ledgerWin.center().open();
    });


</script>


