@using PointOfSale.Helpers;
<div class="k-edit-form-container col-lg-11 col-md-10 col-sm-11 col-xs-10" style="margin:20px;">
    <p>
        <a href="@Html.EncodedParam("ImportQauntityTransactionPrint","Configuration", new { productId = ViewBag.ProductId, supplierId = ViewBag.SupplierId },null)" target="_blank" style="float:right;font-size:14px">
            <i class="fa fa-print"></i> Print
        </a><br />
    </p>
    <div id="divQuantityTranList"></div>
    <div class="k-edit-buttons k-state-default">
        <button type="button" class="k-button k-button-icontext k-grid-cancel" id="btnQuantityTranCancel"><span class="k-icon k-cancel"></span>Cancel</button>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#divQuantityTranList").empty();
        $("#divQuantityTranList").append('<div class="tiny_loading"></div>');
        $("#divQuantityTranList").load('@Url.Action("QuantityTransactionList", "Configuration")?productId=' + '@ViewBag.ProductId' + '&distributeid='+ '@ViewBag.DistributeId' + '&supplierId=' + '@ViewBag.SupplierId');
    });
    $("#btnQuantityTranCancel").click(function () {
        $(this).closest(".k-window-content").data("kendoWindow").close();
    });
</script>