<div class="k-edit-form-container col-lg-11 col-md-10 col-sm-11 col-xs-10" id="" style="margin-bottom:4%;margin-top:2%;">
    <div id="div_Unit_Create"></div>
    <div class="k-edit-buttons k-state-default" style="margin-left:30px;">
        @if (ViewBag.UnitId > 0)
        {
            <button type="button" class="k-button k-button-icontext k-primary k-grid-update" id="btnUnitCreate"><span class="k-icon k-update"></span>Update</button>
        }
        else
        {
            <button type="button" class="k-button k-button-icontext k-primary k-grid-update" id="btnUnitCreate"><span class="k-icon k-update"></span>Create</button>
        }
        <button type="reset" class="k-button k-button-icontext k-grid-update" id="btnRefresh"><span class="k-icon k-i-refresh"></span>Refresh</button>
        <button type="button" class="k-button k-button-icontext k-grid-cancel" id="btnCancel"><span class="k-icon k-cancel"></span>Cancel</button>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#div_Unit_Create").empty();
        $("#div_Unit_Create").load('@Url.Action("UnitCreatePartial", "Configuration")?id=' + '@ViewBag.UnitId');
    });
    $("#btnRefresh").click(function () {
        $("#div_Unit_Create").empty();
        $("#div_Unit_Create").load('@Url.Action("UnitCreatePartial", "Configuration")?id=' + '@ViewBag.UnitId');
    });

    $("#btnCancel").click(function () {
        $(this).closest(".k-window-content").data("kendoWindow").close();
    });

    var validation = $("#div_Unit_Create").kendoValidator({
        rules: {
            remoteUnitName: function (input) {
                var remoteAttr = input.attr("data-val-remote-url");
                if (typeof remoteAttr === typeof undefined || remoteAttr === false) {
                    return true;
                }
                var isInvalid;
                var data = {};
                var Id = $("#UnitId").val();
                var UnitName = $.trim($("#UnitName").val());
                data = { Id: Id, UnitName: UnitName };
                $.ajax({
                    url: remoteAttr,
                    mode: "abort",
                    port: "validate" + input.attr('name'),
                    dataType: "json",
                    type: input.attr("data-val-remote-type"),
                    data: data,
                    async: false,
                    success: function (response) {
                        isInvalid = response;
                        if (isInvalid === true) {
                            isInvalid = true;
                        }
                        else {
                            isInvalid = false;
                        }
                    }
                });
                return isInvalid;
            }
        },
        messages: {
            remoteUnitName: function (input) {
                return input.data('val-remote');
            }
        }
    }).data("kendoValidator");
    $("#btnUnitCreate").click(function () {
        if (validation.validate()) {
            var sendData = {
                UnitId: $("#UnitId").val(),
                UnitName: $("#UnitName").val(),
                CreatedBy: userId
            }
            $.ajax({
                url: '@Url.Action("UnitCreateSave", "Configuration")',
                type: "POST",
                data: sendData,
                success: function (data) {
                    if (data = "success") {
                        $("#divUnitWindow").data("kendoWindow").close();
                        $("#divUnitList").empty();
                        $("#divUnitList").load('@Url.Action("UnitList", "Configuration")');
                    }
                    else {
                        alert("Brand Save Error");
                    }
                }
            });
        }
    });
</script>
