@model IEnumerable<PointOfSale.Models.ViewOrderTransaction>
@{
    var count = 0;
}
@if (Model.Any() == true)
 {
    <table class="table table-bordered table-hover table-responsive table-condensed table-striped">
        <tr>
            <th>SL.</th>
            <th>Voucher</th>
            <th>Product</th>
            <th>Type</th>
            <th>Days</th>
            <th>Date</th>
        </tr>
        @foreach (var list in Model)
         {
            count++;
            <tr>
                <td>@count. </td>
                <td>@list.OrderNumber</td>
                <td>@list.ProductName</td>
                <td>@list.ServiceName</td>
                <td>@list.ServiceDays</td>
                <td>@Convert.ToDateTime(list.OrderDate).ToString("MMM dd,yyyy")</td>
            </tr>
         }
    </table>
 }
else
{
    <h4>There is no record to display</h4>
}
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    })
</script>






