<div class="k-edit-form-container col-lg-11 col-md-10 col-sm-11 col-xs-10" id="" style="margin-bottom:4%;margin-top:2%;">
    <div id="divVatForm"></div>
    <div class="k-edit-buttons k-state-default" style="margin-left:30px;">
        @if (ViewBag.VatId > 0)
        {
            <button type="button" class="k-button k-button-icontext k-primary k-grid-update" id="btnVatCreate"><span class="k-icon k-update"></span>Update</button>
        }
        else
        {
            <button type="button" class="k-button k-button-icontext k-primary k-grid-update" id="btnVatCreate"><span class="k-icon k-update"></span>Add</button>
        }
        <button type="reset" class="k-button k-button-icontext k-grid-update" id="btnRefresh"><span class="k-icon k-i-refresh"></span>Refresh</button>
        <button type="button" class="k-button k-button-icontext k-grid-cancel" id="btnCancel"><span class="k-icon k-cancel"></span>Cancel</button>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#divVatForm").empty();
        $("#divVatForm").load('@Url.Action("VatCreatePartial", "Sales")?vatId=' + '@ViewBag.VatId');
    });
    $("#btnRefresh").click(function () {
        $("#divVatForm").empty();
        $("#divVatForm").load('@Url.Action("VatCreatePartial", "Sales")?vatId=' + '@ViewBag.VatId');
    });
    $("#btnCancel").click(function () {
        $(this).closest(".k-window-content").data("kendoWindow").close();
    });
    var validation = $("#divVatForm").kendoValidator({
    }).data("kendoValidator");
    $("#btnVatCreate").click(function () {
        if (validation.validate()) {
            var sendData = {
                VatId: $("#VatId").val(),
                Rate: $("#Rate").val(),
                CreatedBy: userId,
            }
            $.ajax({
                url: '@Url.Action("VatSave", "Sales")',
                type: "POST",
                data: sendData,
                success: function (data) {
                    if (data = "success") {
                        $("#divVatWin").data("kendoWindow").close();
                        $("#divVatList").empty();
                        $("#divVatList").append('<div class="loading_partial"></div>');
                        $("#divVatList").load('@Url.Action("VatList", "Sales")');
                    }
                    else {
                        alert("Vat Create error...");
                    }
                }
            });
        }
    });

</script>
