@model IEnumerable<PointOfSale.Models.ViewUserList>
@using PointOfSale.Helpers
@{
    var count = 0;
}
@if (Model.Any())
{
    <table class="table table-bordered table-hover table-responsive table-condensed table-striped">
        <tr>
            <th>SL.</th>
            <th>Name</th>
            <th>E-mail</th>
            <th>Phone</th>
            <th>Created By</th>
            <th>Created Date</th>
            <th>Updated By</th>
            <th>Updated Date</th>
            <th></th>
        </tr>
        @foreach (var list in Model)
        {
            count++;
            <tr>
                <td>@count . </td>
                <td>
                    @if (list.Picture != null && list.Picture != "")
                    {
                        <img class="img-circle" src="~/Images/UserPicture/thumb/@list.Picture" />
                    }
                    else
                    {
                        <img src="~/Images/Icon/blank-person.jpg" class="img-circle" width="29" height="29" alt="">
                    }
                    <a href="@Html.EncodedParam("UserInfoDetails", "HumanResource", new { userId = list.UserId, isDisplay = true}, null)">@list.Title @list.FirstName @list.MiddleName @list.LastName</a>
                </td>
                <td>@list.EmailAddress</td>
                <td>@list.MobileNo</td>
                <td>@list.CreatedBy</td>
                <td>@Convert.ToDateTime(list.CreatedDate).ToString("MMM dd yyyy")</td>
                <td>@list.UpdatedBy</td>
                @if (list.UpdatedDate != null)
                 {
                    <td>@Convert.ToDateTime(list.CreatedDate).ToString("MMM dd yyyy")</td>
                }
                else
                {
                    <td><span>Not yet updated</span></td>
                }
                <td>
                    <a class="btn btn-primary" data-toggle="tooltip" title="Edit user info" href="@Html.EncodedParam("UserInfoDetails", "HumanResource", new { userId = list.UserId, isDisplay = false}, null)"><i class="fa fa-pencil-square-o"></i></a>
                    @if (list.Status == 1)
                    {
                        if (list.UserType == 1)
                        {
                            <span data-id="@list.UserId" style="cursor:pointer;" data-toggle="tooltip" title="Edit username and password" class="btn btn-info btnEditLoginInfo">
                                <i class="fa fa-pencil"></i>
                            </span>
                        }
                        else
                        {
                            <span data-id="@list.UserId" style="cursor:pointer;"  data-toggle="tooltip" title="Set username and password" class="btn btn-info btnSetLoginInfo">
                                <i class="fa fa-key"></i>
                            </span>
                        }
                        <button type="button" data-id="@list.UserId" data-isactive="0" class="btn btn-danger inactivateUser" data-toggle="tooltip" title="Inactivate User">
                            <i class="fa fa-stop" aria-hidden="true"></i>
                        </button>
                     }
                     else if(list.Status == 0)
                     {
                        <button type="button" data-id="@list.UserId" data-isactive="1" class="btn btn-success activateUser" data-toggle="tooltip" title="Activate User">
                            <i class="fa fa-play" aria-hidden="true"></i>
                        </button>
                        <span data-id="@list.UserId" style="cursor:pointer;" data-toggle="tooltip" title="Delete User" class="btn btn-danger btnUserDelete">
                            <i class="fa fa-trash"></i>
                        </span>
                     }
                    else if (list.Status == 2)
                    {
                        <button type="button" data-id="@list.UserId" data-isactive="1" class="btn btn-success activateUser" data-toggle="tooltip" title="Activate User">
                            <i class="fa fa-play" aria-hidden="true"></i>
                        </button>
                    }
                </td>
            </tr>
         }
    </table>
 }
else
{
    <h4>There is no record to display</h4>
}
<script>
    $('[data-toggle="tooltip"]').tooltip();
</script>